[2020-03-01 16:35] ReimarBauer commented on #541
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

ignore some naming conventions, fixes #541

[2020-03-01 16:35] #541 closed, assigned to nobody

[2020-03-01 16:35] ReimarBauer commented on #541
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/flake8config (pull request #789)

ignore some naming conventions, fixes #541

[2020-03-01 16:45] ReimarBauer commented on #539
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

 fixes issue #539, handling project permission update.

[2020-03-01 16:45] ReimarBauer commented on #539
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in tanish19/mss-2/Tanish-Grover/-fixes-issue-539-handling-project-permis-1583072339349 (pull request #787)

fixes issue #539, handling project permission update.

Approved-by: Shivashis Padhi <sh

[2020-03-01 16:45] #539 closed, assigned to nobody

[2020-03-01 20:09] ReimarBauer opened #542 "replace xml.etree.ElementTree"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/542) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

at least on server site we should use defusedxml.ElementTree

[2020-03-01 21:07] ReimarBauer commented on #494
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

resolved by 58d3ea4

[2020-03-01 21:07] #494 closed, assigned to nobody

[2020-03-02 06:27] ReimarBauer commented on #540
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

output of demodata for mswms adjusted to documented sample, fixes #540

[2020-03-02 06:27] ReimarBauer commented on #540
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/docs540 (pull request #792)

output of demodata for mswms adjusted to documented sample, fixes #540

[2020-03-02 06:27] #540 closed, assigned to nobody

[2020-03-02 06:33] ReimarBauer commented on #542
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

replace xml.etree.ElementTree, fixes #542

[2020-03-02 06:33] ReimarBauer commented on #542
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/defusedxml (pull request #791)

replace xml.etree.ElementTree, fixes #542

[2020-03-02 14:19] ReimarBauer commented on #476
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Manas Mangaonkar works on this

[2020-03-04 12:44] ReimarBauer commented on #241
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

please, no new wildcard exceptions. mss is currently very stable.

‌

but logging is important

‌

‌

[2020-03-04 22:50] ReimarBauer opened #543 "Allow more than 1 kml to be loaded at once"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/543) by Shawn Honomichl (Bitbucket: [Shawn](https://bitbucket.org/Shawn), GitHub: [Shawn](https://github.com/Shawn)).**

----------------------------------------

Would be a nice feature to be able to load more than 1 kml file at a time.  Having multiple features in the same kml is a suitable workaround, but allowing more than 1 kml load

[2020-03-04 23:01] ReimarBauer opened #544 "Allow Ascent rate to be modifiable in the Table View"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/544) by Shawn Honomichl (Bitbucket: [Shawn](https://bitbucket.org/Shawn), GitHub: [Shawn](https://github.com/Shawn)).**

----------------------------------------

A helpful feature would be to allow the ‘Ascent Rate’ column to be modifiable when it is not '0', the way that the Lat/Lon/Flightlevel/Pressure fields can be modified.  For exa

[2020-03-08 07:35] ReimarBauer commented on #517
**Original comment by Tanish Grover (Bitbucket: [tanish19](https://bitbucket.org/tanish19), GitHub: [tanish19](https://github.com/tanish19)).**

----------------------------------------

@{5d0cee57e150e00c52562ecb} are you working on this issue?

[2020-03-08 07:41] ReimarBauer commented on #517
**Original comment by Akshansh Bhanjana (Bitbucket: [Akshansh Bhanjana](https://bitbucket.org/Akshansh Bhanjana), ).**

----------------------------------------

Hi Tanish
Nope, you can proceed with this issue :\)

[2020-03-08 15:04] ReimarBauer commented on #536
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

resoved by 14470a1

[2020-03-08 15:04] #536 closed, assigned to nobody

[2020-03-08 15:44] ReimarBauer commented on #279
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

all wms urls from configurations can be checked if they exists. The user interface should only show which can be used. Missing urls should become logged.

[2020-03-08 15:48] ReimarBauer commented on #180
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

we won't do this before we go to have a 2.0

This has likly an impact on all parts  servers and  clients

[2020-03-08 17:55] ReimarBauer opened #545 "improve test coverage of mscolab"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/545) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

currently mscolab has only a coverage of 24%

we should cover nearly all at least 80% of the code lines

[2020-03-08 18:51] ReimarBauer commented on #142
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

we will remove the trajectory tool. It is since long time not maintained.

[2020-03-08 18:51] #142 closed, assigned to nobody

[2020-03-09 00:21] ReimarBauer commented on #309
**Original comment by Vaibhav Mehra (Bitbucket: [Vaibhav Mehra](https://bitbucket.org/Vaibhav Mehra), ).**

----------------------------------------

@{557058:3ffd4910-450c-422e-9ab9-726d7f2c7449} Every changes made by user should be saved as a new json file or should be overwritten on the default file provided by us?

‌

[2020-03-09 07:23] ReimarBauer commented on #309
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

for now only to the default one,  there can be a “save as”

We have implemented that on load of a usersettings the app gets reseted to an initial state.

Currently this file is only once created and bec

[2020-03-10 13:28] ReimarBauer commented on #484
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

add user using username or email in mscolab, fixes #484

[2020-03-10 13:28] #484 closed, assigned to nobody

[2020-03-10 13:28] ReimarBauer commented on #537
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

improve server response while adding user in mscolab, fixes #537

[2020-03-10 13:28] #537 closed, assigned to nobody

[2020-03-10 16:33] ReimarBauer commented on #528
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

We should also use a different .config dir for tests. This may be also related to all qt tests, needs to be checkded

[2020-03-10 17:07] ReimarBauer opened #546 "fixate socketio and engineio"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/546) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Until anaconda default channel has not an update we have to fixate both packages  in the mss-feedstock

python-socketio           4.4.0

[2020-03-11 02:24] ReimarBauer opened #547 "Missing Configuration file and Fatal error while using other configuration file."
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/547) by Vaibhav Mehra (Bitbucket: [Vaibhav Mehra](https://bitbucket.org/Vaibhav Mehra), ).**

----------------------------------------

I downloaded the stable version of mss from conda forge and tried load configuration under the section of file and it is opening an empty folder in front of me. Then I tried to open the config settings o

[2020-03-11 07:51] ReimarBauer opened #548 "improve documentation of mscolab"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/548) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

A user pointed that the link in “steps to run” is invalid. It may point to the config below.

[https://mss.readthedocs.io/en/stable/mscolab.html](https://m

[2020-03-11 09:17] ReimarBauer commented on #548
**Original comment by Nneamaka Chalokwu (Bitbucket: [Nneamaka Chalokwu](https://bitbucket.org/Nneamaka Chalokwu), ).**

----------------------------------------

I will like to work on this.

[2020-03-11 11:40] ReimarBauer commented on #548
**Original comment by Nneamaka Chalokwu (Bitbucket: [Nneamaka Chalokwu](https://bitbucket.org/Nneamaka Chalokwu), ).**

----------------------------------------

Hi Reimar, please how can I verify your findings of the hardcoded paths, and would I need to see the mail so as to see the steps you mentioned?

[2020-03-11 14:00] ReimarBauer commented on #548
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

if the setup is working you should be able do repeat an additional setup with a different path, e.g. ~/missionsupportsystem and alter in the config the variables for the pathes

‌

[2020-03-13 08:32] ReimarBauer opened #549 "tests failing on osx"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/549) by Tanish Grover (Bitbucket: [tanish19](https://bitbucket.org/tanish19), GitHub: [tanish19](https://github.com/tanish19)).**

----------------------------------------

* test\_insert\_point in test\_sideview.py failing due to invalid coordinate. The problem exists due to different window sizes on different machines
* test\_mscolab\_

[2020-03-13 10:31] ReimarBauer commented on #241
**Original comment by Prayas Jain (Bitbucket: [PercyX](https://bitbucket.org/PercyX), GitHub: [PercyX](https://github.com/PercyX)).**

----------------------------------------

It was partly already done, created a pull request regarding the leftovers.

[2020-03-13 13:07] ReimarBauer commented on #549
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

fixes issue #549, tests failing on osx

[2020-03-13 13:07] ReimarBauer commented on #549
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in tanish19/mss/fix_tests_osx (pull request #800)

fixes issue #549, tests failing on osx

[2020-03-13 13:07] #549 closed, assigned to nobody

[2020-03-13 13:23] ReimarBauer opened #550 "unused import in tableview.py"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/550) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

one of the tests says

mslib.msui.mss\_qt.QtCore' imported but unused

this needs to  become verified and if so removed

‌

[2020-03-13 19:42] ReimarBauer commented on #241
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Added missing error loggings. Closes #241.

[2020-03-13 19:42] ReimarBauer commented on #241
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in PercyX/mss (pull request #801)

Added missing error loggings. Closes #241.

Approved-by: Joern Ungermann <j.ungermann@fz-juelich.de>

[2020-03-13 19:42] #241 closed, assigned to nobody

[2020-03-14 04:21] ReimarBauer commented on #528
**Original comment by Tanish Grover (Bitbucket: [tanish19](https://bitbucket.org/tanish19), GitHub: [tanish19](https://github.com/tanish19)).**

----------------------------------------

Hey, Debajyoti are you working on this issue?

[2020-03-14 08:21] ReimarBauer commented on #275
**Original comment by Prayas Jain (Bitbucket: [PercyX](https://bitbucket.org/PercyX), GitHub: [PercyX](https://github.com/PercyX)).**

----------------------------------------

I’d like to work on it.

[2020-03-14 08:34] ReimarBauer commented on #308
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Fixes #308

[2020-03-14 08:34] ReimarBauer commented on #308
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in withoutwaxaryan/mss/qt_design (pull request #802)

Fixes #308

[2020-03-14 08:34] #308 closed, assigned to nobody

[2020-03-14 08:46] ReimarBauer commented on #547
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

the path is the cause for the crash, it looks like a doubled valid path

\`/home/vaibhav/mss/home/vaibhav/config/mss\`

at least it should not crash

On current master develop

git rev-parse --verify HE

[2020-03-14 09:40] ReimarBauer commented on #509
**Original comment by Tanish Grover (Bitbucket: [tanish19](https://bitbucket.org/tanish19), GitHub: [tanish19](https://github.com/tanish19)).**

----------------------------------------

Yeah, got the same error. Will take a look at it.

‌

[2020-03-15 09:00] ReimarBauer commented on #488
**Original comment by Tanish Grover (Bitbucket: [tanish19](https://bitbucket.org/tanish19), GitHub: [tanish19](https://github.com/tanish19)).**

----------------------------------------

@{557058:fabca9ad-f8cf-4f48-b9aa-8ab5c2f5d433} How about adding a checkbox in the new project dialog which gives project access to everyone?

‌

[2020-03-16 16:13] ReimarBauer commented on #509
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

fixes error in opening topview wms control in mscolab, fixes issue #509

[2020-03-16 16:13] ReimarBauer commented on #509
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in tanish19/mss/fix_issue509 (pull request #803)

fixes error in opening topview wms control in mscolab, fixes issue #509

Approved-by: Christian Rolf <c.rolf@fz-juelich.de>

[2020-03-16 16:13] #509 closed, assigned to nobody

[2020-03-16 16:14] ReimarBauer commented on #476
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in withoutwaxaryan/mss/removing_menu_tools (pull request #809)

Fixes Issue #476

Approved-by: Joern Ungermann <j.ungermann@fz-juelich.de>

[2020-03-16 16:14] #476 closed, assigned to nobody

[2020-03-17 21:48] ReimarBauer commented on #290
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Removed MSCHEM instantiations.

The relevant code should be moved to the serve settings python file or a
module imported from there.

Also removed some instantiations from the Generic stuff made princip

[2020-03-17 21:48] #290 closed, assigned to nobody

[2020-03-18 20:03] ReimarBauer commented on #506
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

please run pytest before a PR

[2020-03-20 07:18] ReimarBauer opened #551 "TopView crashes"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/551) by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

[code]

Does not crash in tests, strangely; maybe due to different order of imports and execution? The missing “figure” is never ever imported anywhere, maybe a str

[2020-03-22 13:52] ReimarBauer opened #552 "In mscolab pressing export then clicking cancel raises an error."
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/552) by Tanish Grover (Bitbucket: [tanish19](https://bitbucket.org/tanish19), GitHub: [tanish19](https://github.com/tanish19)).**

----------------------------------------

Steps to reproduce:

1. Select a project
2. Click on export
3. click cancel

![](https://bitbucket.org/repo/MBp6Xa/images/3198769219-Screen%20Shot%202020-03-22%20at%2

[2020-03-25 07:40] ReimarBauer commented on #552
**Original comment by Shivashis Padhi (Bitbucket: [plant99](https://bitbucket.org/plant99), GitHub: [plant99](https://github.com/plant99)).**

----------------------------------------

anyone working on this, wanted to assign this to new contributors

[2020-03-25 08:13] ReimarBauer commented on #552
**Original comment by Tanish Grover (Bitbucket: [tanish19](https://bitbucket.org/tanish19), GitHub: [tanish19](https://github.com/tanish19)).**

----------------------------------------

I just checked. This issue has been resolved in the develop branch. So should I got ahead and fix it for stable as well?

[2020-03-26 19:07] ReimarBauer commented on #550
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

fixed by 5e7f56f

[2020-03-26 19:07] #550 closed, assigned to nobody

[2020-03-26 19:11] ReimarBauer opened #553 "mscolab user needs a function / button to remove himself"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/553) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

a user can currently create an account, we have to add that he can safe  remove his account.

[2020-03-26 19:19] ReimarBauer commented on #140
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

fixed by #2a799a2

[2020-03-26 19:19] #140 closed, assigned to nobody

[2020-03-26 19:22] ReimarBauer commented on #367
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

we removed all trajectory modules, so we have no need for this module too

[2020-03-26 19:22] #367 closed, assigned to nobody

[2020-03-27 11:34] ReimarBauer commented on #551
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Added missing import

Fix issue #551

[2020-03-27 13:03] ReimarBauer commented on #532
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

matplotlib 3.1.2\+3.1.3 work.

[2020-03-27 13:17] ReimarBauer commented on #532
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

I have troubles getting it to install matplotlib 3.2

I would suggest removing the fix to the old matplotlib version and see what happens :-\)

[2020-05-14 11:44] ReimarBauer commented on #528
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

separated mscolab test data directory from the actual mscolab data directory, fixes issue #528

[2020-05-14 11:44] ReimarBauer commented on #528
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in tanish19/mss/separate_test_data (pull request #817)

separated mscolab test data directory from the actual mscolab data directory, fixes issue #528

[2020-05-14 11:44] #528 closed, assigned to nobody

[2020-05-14 11:46] ReimarBauer commented on #553
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

fixes issue #553, add user account delete functionality

[2020-05-14 11:46] ReimarBauer commented on #553
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in tanish19/mss/issue553_user_account_delete (pull request #814)

fixes issue #553, add user account delete functionality

[2020-05-14 11:46] #553 closed, assigned to nobody

[2020-05-14 12:13] ReimarBauer commented on #552
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

please backport the fix to stable.

[2020-05-14 12:22] ReimarBauer commented on #506
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

see #504

[2020-05-16 14:32] ReimarBauer opened #554 "Positioning of menubar in macos"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/554) by Tanish Grover (Bitbucket: [tanish19](https://bitbucket.org/tanish19), GitHub: [tanish19](https://github.com/tanish19)).**

----------------------------------------

MacOS treats menubar differently and the menubar is disconnected from the application window:

![](https://bitbucket.org/repo/MBp6Xa/images/2158350210-Screen%20Shot%2

[2020-05-17 20:24] ReimarBauer commented on #538
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

fixes issue #538, revoke permission not firing socket event

[2020-05-17 20:24] ReimarBauer commented on #538
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in tanish19/mss/issue538 (pull request #797)

fixes issue #538, revoke permission not firing socket event

[2020-05-17 20:24] #538 closed, assigned to nobody

[2020-05-17 20:42] ReimarBauer commented on #552
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

fixes issue #552, cancelling export in mscolab throwing error

[2020-05-17 20:42] ReimarBauer commented on #552
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in tanish19/mss/fix/export_cancel (pull request #818)

fixes issue #552, cancelling export in mscolab throwing error

[2020-05-17 20:42] #552 closed, assigned to nobody

[2020-05-26 13:47] ReimarBauer commented on #554
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

yes, sounds good. this looks a bit like a unity desktop scheme. Does the change have impact on other OS  - Desktops?

[2020-05-26 18:54] ReimarBauer opened #555 "Mscolab delete account test causing error because of user being deleted from the database"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/555) by Tanish Grover (Bitbucket: [tanish19](https://bitbucket.org/tanish19), GitHub: [tanish19](https://github.com/tanish19)).**

----------------------------------------

This is being caused by my previous PR. I didn’t run the whole test suite so I wasn’t able to catch it earlier. The delete account test deletes a user so that is caus

[2020-05-28 18:08] ReimarBauer commented on #555
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

fixes issue #555, added another user account in seed data for deletion testing

[2020-05-28 18:08] ReimarBauer commented on #555
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in tanish19/mss/fix_test_errors (pull request #819)

fixes issue #555, added another user account in seed data for deletion testing

[2020-05-28 18:08] #555 closed, assigned to nobody

[2020-05-29 09:45] ReimarBauer commented on #546
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/stable (pull request #820)

fixated python-socketio added missing defusedxml, fixes #546

[2020-05-29 09:45] #546 closed, assigned to nobody

[2020-05-31 13:18] ReimarBauer opened #556 "pycodestyle error in build pipeline"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/556) by Tanish Grover (Bitbucket: [tanish19](https://bitbucket.org/tanish19), GitHub: [tanish19](https://github.com/tanish19)).**

----------------------------------------

Unambiguous variable 'l' in mslib/msui/mpl\_qtwidget.py

[2020-06-01 07:58] ReimarBauer commented on #556
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

removed unambiguous variable in mpl_qtwidget, fixes issue #556

[2020-06-01 07:58] ReimarBauer commented on #556
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in tanish19/mss/codestyle_error_fix (pull request #823)

removed unambiguous variable in mpl_qtwidget, fixes issue #556

[2020-06-01 07:58] #556 closed, assigned to nobody

[2020-06-02 12:52] ReimarBauer commented on #504
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Allowed only one mscolab instance, fixes issue #504 and issue #506

[2020-06-02 12:52] #504 closed, assigned to nobody

[2020-06-02 12:52] ReimarBauer commented on #506
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Allowed only one mscolab instance, fixes issue #504 and issue #506

[2020-06-02 12:52] #506 closed, assigned to nobody

[2020-06-02 12:52] ReimarBauer commented on #504
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in tanish19/mss/single_mscolab_instance (pull request #822)

Allowed only one mscolab instance, fixes issue #504 and issue #506

[2020-06-02 12:52] ReimarBauer commented on #506
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in tanish19/mss/single_mscolab_instance (pull request #822)

Allowed only one mscolab instance, fixes issue #504 and issue #506

[2020-06-15 14:53] ReimarBauer opened #557 "mss performance ceiling altitude feature not properly documented."
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/557) by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

The samples file and documentation are wrong for the current state of the ceiling altitude feature. The documentation refers to it as “peak” while it is called “cei

[2020-06-18 17:56] ReimarBauer commented on #557
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Fixed peak by proper name ceiling

Fix issue #557

[2020-06-18 17:56] #557 closed, assigned to nobody

[2020-06-23 08:12] ReimarBauer commented on #551
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

Fix has been removed.

[2020-06-23 08:33] ReimarBauer commented on #551
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Fix issue #551

[2020-06-23 08:33] ReimarBauer commented on #551
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in joernu76/mss/issue551 (pull request #838)

Fix issue #551

[2020-06-23 08:33] #551 closed, assigned to nobody

[2020-06-23 08:37] ReimarBauer opened #558 "remove fixation of matplotlib"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/558) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Sometime ago we fixated matplotlib to 3.0.2 recent version is 3.2.2
[https://bitbucket.org/wxmetvis/mss/issues/408/fixate-matplotlib-to-302](https://bitbuc

[2020-06-30 14:28] ReimarBauer commented on #517
**Original comment by Tanish Grover (Bitbucket: [tanish19](https://bitbucket.org/tanish19), GitHub: [tanish19](https://github.com/tanish19)).**

----------------------------------------

@{557058:3ffd4910-450c-422e-9ab9-726d7f2c7449} As we now have the admin dashboard we can maybe close this issue as this is not required anymore?

[2020-07-01 07:08] ReimarBauer opened #559 "KML Overlay : Loading multiple KML Files not working perfectly"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/559) by Aryan (Bitbucket: [Aryan Gupta](https://bitbucket.org/Aryan Gupta), ).**

----------------------------------------

When you load the files, the relevant files are displayed. However, when you uncheck some files, the required KML files are displayed along with the other files.

[2020-07-01 07:11] ReimarBauer opened #560 "KML Overlay : Add multiple files simultaneously"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/560) by Aryan (Bitbucket: [Aryan Gupta](https://bitbucket.org/Aryan Gupta), ).**

----------------------------------------

When Add KML Files is clicked,  the directory box which opens allows only single KML File to be added at a time. It is bothersome, and multiple KML Files in the same directory should be allowed to be added altogethe

[2020-07-08 07:53] ReimarBauer opened #561 "In TableView --> Performance Settings Dialog, pressing Load and not selecting any file gives TypeError: expected str, bytes or os.PathLike object, not list"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/561) by Aryan (Bitbucket: [Aryan Gupta](https://bitbucket.org/Aryan Gupta), ).**

----------------------------------------

To duplicate the error, open TableView, and click on Performance Settings. This opens a dialog box . Click the Load button which opens another dialog box to select file.If you press cancel, it throws up the followin

[2020-07-13 09:37] ReimarBauer opened #562 "~/mss dir should be configurable by an env var"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/562) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

we have a hardcoded name for user and demodata to ~/mss

If we make this configurable by an env var and the config\_loader we can do tests with many users

[2020-07-20 16:18] ReimarBauer opened #563 "default coded mss_wms_auth.py"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/563) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

We seem to have a difference in the mswms\_demodata created mss\_wms\_auth.py and the builtin if that file does not exists.

[2020-07-20 16:24] ReimarBauer opened #564 "use quotes in urls in documentation"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/564) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

we should adjust the examples in the docs to always use quotes

‌

e.g.
curl “[http://localhost:8081/?service=WMS&request=GetCapabilities&version=1.1.1](ht

[2020-07-20 16:41] ReimarBauer opened #565 "rename in rtfd docs env into envs"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/565) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

in vhost example
the name of the env is now envs

[2020-07-20 17:32] ReimarBauer opened #566 "don't show "Request type is not valid""
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/566) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

currently if we lookup by a browser a mswms service it tells something useless. We should give some basic information about the project.

\`<class 'Runtime

[2020-07-20 20:34] ReimarBauer opened #567 "enable configurable timeout of openUrl"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/567) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

We could move the timeout=30 as a default to MissionSupportSystemDefaultConfig and make it configurable
[https://bitbucket.org/wxmetvis/mss/src/develop/msl

[2020-07-21 04:16] ReimarBauer commented on #562
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

we have `"data_dir"`  in the config\_loader.

[2020-07-21 04:37] ReimarBauer commented on #564
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

the doc has not curl, we do use a browser because curl is OS dependent.

[2020-07-21 04:37] #564 closed, assigned to nobody

[2020-07-21 05:01] ReimarBauer commented on #563
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

needs further investigation, seems not the case in the developer standalone server

[2020-07-21 12:51] ReimarBauer commented on #561
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

I cannot easily replicate that with develop or stable.

Could you please say, which git revision exhibits the problem and attach the full log/terminal output? Also the output of `conda list` to see which package

[2020-07-21 12:57] ReimarBauer commented on #567
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

Making this configurable seems reasonable.

However, I’d like to point out, here, that ideally the MSWMS server should be configured in a way that it needs less than 30s to assemble the capability document. The

[2020-07-21 15:03] ReimarBauer commented on #561
**Original comment by Aryan (Bitbucket: [Aryan Gupta](https://bitbucket.org/Aryan Gupta), ).**

----------------------------------------

Issue Replication :

Open MSS → Open TableView → Click on Performance Settings \(Bottom left\) . This will open the Performance Settings Dialog. Click on Load in the dialog. It opens up the File Choosing Directory.

Directory opened for me is /home/aryan/.config

[2020-07-21 15:04] ReimarBauer commented on #561
**Original comment by Aryan (Bitbucket: [Aryan Gupta](https://bitbucket.org/Aryan Gupta), ).**

----------------------------------------

Here is the output of conda list :

‌

[code]

‌

‌

[2020-07-21 17:42] ReimarBauer commented on #567
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

making this configurable has also the benefit that we can have a shorter timeout in tests.

[2020-07-21 17:48] ReimarBauer commented on #561
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

hmm, on this traceback we have used os. instead of fs.

[2020-07-21 17:56] ReimarBauer commented on #561
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

We should look on just this line.

Can you provide the `config_file` name and than we can try

`import os`

`_dirname, _name = os.path.split(config_file)`

btw. which operating system do you use?

[2020-07-22 03:39] ReimarBauer commented on #561
**Original comment by Aryan (Bitbucket: [Aryan Gupta](https://bitbucket.org/Aryan Gupta), ).**

----------------------------------------

The config\_file name is “mss\_settings.json”.

I am using Ubuntu 18.04.

[2020-07-22 07:33] ReimarBauer commented on #561
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

Can you please add a

[code]

just before the point where it fails in file `/home/aryan/Desktop/GSoC/mss/mslib/utils.py` i.e. in between  lines 114/115 and show us the output upon failure?

I’d like to know what

[2020-07-22 07:36] ReimarBauer commented on #561
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

Okay found it.

This only happens in your branch. You broke it.

[2020-07-22 07:38] ReimarBauer commented on #561
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

I move the discussion to your merge request.

‌

[2020-07-22 07:38] ReimarBauer commented on #561
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

Doesn't affect either develop or stable.

[2020-07-22 07:38] #561 closed, assigned to nobody

[2020-07-22 08:45] ReimarBauer commented on #561
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

from the scope of stable or develop branch this is an invalid issue

[2020-07-22 09:23] ReimarBauer commented on #559
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

fixes #559 and #560 - Adding and Loading Multiple KML Files simultaneously

[2020-07-22 09:23] #559 closed, assigned to nobody

[2020-07-22 09:23] ReimarBauer commented on #560
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

fixes #559 and #560 - Adding and Loading Multiple KML Files simultaneously

[2020-07-22 09:23] #560 closed, assigned to nobody

[2020-07-22 09:23] ReimarBauer commented on #561
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

Fixes Issue #561 : added separate functions for opening multiple files

[2020-07-22 14:31] ReimarBauer commented on #567
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

moved timeout constant to the config_loader definitions, fixes #567

[2020-07-22 14:31] ReimarBauer commented on #567
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/timeout (pull request #844)

moved timeout constant to the config_loader definitions, fixes #567

[2020-07-22 14:31] #567 closed, assigned to nobody

[2020-07-22 14:32] ReimarBauer commented on #565
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

typos in docs, fixes #565

[2020-07-22 14:32] ReimarBauer commented on #565
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/improve_docs (pull request #845)

typos in docs, fixes #565

[2020-07-22 14:32] #565 closed, assigned to nobody

[2020-07-22 14:42] ReimarBauer commented on #563
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

not reproducable on the server where it first occures

[2020-07-22 14:42] #563 closed, assigned to nobody

[2020-07-22 18:42] ReimarBauer commented on #561
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

removed the milestone

[2020-07-24 00:14] ReimarBauer commented on #567
**Original comment by Shawn Honomichl (Bitbucket: [Shawn](https://bitbucket.org/Shawn), GitHub: [Shawn](https://github.com/Shawn)).**

----------------------------------------

Joern and Reimar,

Thanks for working on this.  I do like the configurable timeout idea.  Currently we are only keeping a days worth of model output for WACCM and GEOS-5 and it is still timing out.  I think this is likely b

[2020-07-24 07:54] ReimarBauer commented on #567
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

we will release soon in the next hours.

[2020-07-24 12:51] ReimarBauer opened #568 "AttributeError: 'datetime.timezone' object has no attribute 'localize'"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/568) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

That was a pytest on stable

‌

[2020-07-24 13:01] ReimarBauer commented on #568
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

this seems a problem in skyfield == 1.24

‌

1\.23 works

[2020-07-24 13:15] ReimarBauer commented on #568
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

related to
[https://github.com/skyfielders/python-skyfield/issues/413](https://github.com/skyfielders/python-skyfield/issues/413)

[2020-07-24 13:16] ReimarBauer commented on #568
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

I will adjust the meta file for now

[2020-07-24 13:38] ReimarBauer commented on #568
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/meta (pull request #848)

new fixation for skyfield, fixes #568

[2020-07-24 14:15] ReimarBauer opened #569 "SPDX Identifiers in meta.yaml"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/569) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

[https://conda-forge.org/docs/maintainer/adding\_pkgs.html#spdx-identifiers-and-expressions](https://conda-forge.org/docs/maintainer/adding_pkgs.html#spdx-

[2020-07-24 14:43] ReimarBauer commented on #568
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

we should do the better fix, as described on

https://github.com/skyfielders/python-skyfield/issues/413#issuecomment-663537486

[2020-07-24 14:55] ReimarBauer opened #570 "build problems for python 3.8"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/570) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

We have to solve some problems for building a python-3.8 package

[code]

‌

[2020-07-24 15:36] ReimarBauer commented on #567
**Original comment by Shawn Honomichl (Bitbucket: [Shawn](https://bitbucket.org/Shawn), GitHub: [Shawn](https://github.com/Shawn)).**

----------------------------------------

Thanks Reimar and Joern,

I think between the CachedDataAccess and setting the timeout up a little bit, we have solved our issue!

-Shawn

[2020-07-27 16:32] ReimarBauer commented on #568
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

at fd3e6e0

[2020-07-27 16:32] #568 closed, assigned to nobody

[2020-07-29 18:14] ReimarBauer opened #571 "Allow Vertical Plots to have Secondary Y-Axis"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/571) by Shawn Honomichl (Bitbucket: [Shawn](https://bitbucket.org/Shawn), GitHub: [Shawn](https://github.com/Shawn)).**

----------------------------------------

It would be useful to have in the Side View Options menu, an option to add a secondary y-axis on the right side of the plot.  For example, if the menu is set to have ‘flight le

[2020-07-30 11:29] ReimarBauer opened #572 "tests could be blocked by a ExpatError condition"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/572) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

during tests we got on these lines completly blocking tests by a “press the OK button” This may happen also on other calls.

[code]

‌

[2020-07-30 18:20] ReimarBauer opened #573 "Plot x-axis, y-axis, title, and color bar label sizes should be configurable."
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/573) by Shawn Honomichl (Bitbucket: [Shawn](https://bitbucket.org/Shawn), GitHub: [Shawn](https://github.com/Shawn)).**

----------------------------------------

Plot x-axis, y-axis, title, and color bar label sizes should be configurable in the options.  During briefings when flight plan images are displayed, people often complain of h

[2020-08-03 07:23] ReimarBauer opened #574 "matplotlib cannot be upgraded due to error in basemap"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/574) by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

basemap crashes with current matplotlib due to the use of the deprecated dedent function.

‌

See

[https://github.com/matplotlib/basemap/issues/495](https://github

[2020-08-03 09:20] ReimarBauer commented on #574
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

related to #558

[2020-08-03 10:50] ReimarBauer commented on #569
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/stable (pull request #853)

used writing of SPDX Identifiers, fixes #569

[2020-08-03 10:50] #569 closed, assigned to nobody

[2020-08-06 14:07] ReimarBauer commented on #566
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/i566 (pull request #856)

returns empty content without query string, fixes #566

[2020-08-06 14:07] #566 closed, assigned to nobody

[2020-08-07 14:48] ReimarBauer opened #575 "refactor mss_qt move module imports to modules"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/575) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

We introdruced mss\_qt because of a short time we had pyqt4 and pyqt5 together.

The module import should become moved back where they are used, so that we

[2020-08-13 08:32] ReimarBauer opened #576 "refactor MissionSupportSystemDefaultConfig"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/576) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

currently we have the module MissionSupportSystemDefaultConfig on the msui level. We should move it to mslib and make it the central place for all kind of

[2020-08-16 09:31] ReimarBauer commented on #554
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

removed native menubar for mss main window to improve UI for macOS, fixes issue #554

[2020-08-16 09:31] #554 closed, assigned to nobody

[2020-08-22 09:44] ReimarBauer opened #577 "conda-verify needed for developers"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/577) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

on trying a test build this is needed for checking the meta.yaml

[2020-08-24 06:13] ReimarBauer opened #578 "no tracebacks for mscolab by http requests"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/578) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Currently the mscolab server announces on the “/” url its state.
I think we should move this to a query parameter, e.g. status, service

This enables to us

[2020-08-25 05:06] ReimarBauer opened #579 "status bar of main widget on bottom"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/579) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

![](https://bitbucket.org/repo/MBp6Xa/images/3943318425-location_statusbar.png)
The status bar is moved up if we have more controls open.

It should be alw

[2020-08-29 11:00] ReimarBauer commented on #578
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

an example how bigbluebutton does it is given on [https://demo.bigbluebutton.org/gl/](https://demo.bigbluebutton.org/gl/)
We could may be use that pattern, besides signup yet.

[2020-08-30 20:39] ReimarBauer commented on #578
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

![](https://bitbucket.org/repo/MBp6Xa/images/3955074182-index_html.png)
This very simple template would be able also to render the docs on the site itselfs. The menu on top is just a placeholder.

[2020-09-01 04:38] ReimarBauer opened #580 "fixate pillow"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/580) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

because of upstream changes we have to fixate pillow >=7.2.0

[2020-09-05 07:07] ReimarBauer opened #581 "test_sideview needs a review"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/581) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

test\_sideview needs a review. Sometimes this happens

[code]

‌

[2020-09-23 17:03] ReimarBauer opened #582 "Table View Doesn't Properly Update when Adjusting Altitude in the Vertical View"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/582) by Shawn Honomichl (Bitbucket: [Shawn](https://bitbucket.org/Shawn), GitHub: [Shawn](https://github.com/Shawn)).**

----------------------------------------

When an aircraft performance file is loaded, adjusting the altitude in the side view does not update ‘Leg time’, ‘Cum. time’, ‘Time’, ‘Rem. fuel’, etc.  These should be updated

[2020-09-23 17:25] ReimarBauer commented on #582
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

@{joernu76} do you want to take this ?

[2020-09-23 19:10] ReimarBauer commented on #582
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

That is probably a simple fix. Do you need it urgently, i.e. do we need a patch to stable or can it wait till the next “regular” release?

[2020-09-23 21:15] ReimarBauer commented on #582
**Original comment by Shawn Honomichl (Bitbucket: [Shawn](https://bitbucket.org/Shawn), GitHub: [Shawn](https://github.com/Shawn)).**

----------------------------------------

It's not urgent, but will be good to have before ACCLIP next year
(July-August, 2021).

[2020-09-27 19:39] ReimarBauer commented on #582
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

That shouldn’t be a problem :smiley: I’ll prepare the fix until end of Octobre for sure.

[2020-09-28 13:53] ReimarBauer commented on #582
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

This also affects changing flightlevels in TableView.

[2020-09-28 14:16] ReimarBauer commented on #582
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

@{557058:3f381f76-9ea4-4904-940c-ec968a1a0765} It seems that MSS has a documentation bug. The code assume altitudes in feet, the documentation says m…

[2020-09-28 14:17] ReimarBauer commented on #582
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

@shawn That feature has, obviously, not been tested enough. I will change at least that. Could you maybe verify that a JSON file, with altitudes in feet would work as expected?

[2020-09-29 10:24] ReimarBauer commented on #579
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

@{5e5bcdf0ab90210c8de2d518} do you want to work on this?

we need it in stable

[2020-09-29 11:16] ReimarBauer commented on #578
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

there is are also a review of the exceptions by http requests needed

[2020-09-29 11:18] ReimarBauer commented on #578
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

partly solved by
[https://bitbucket.org/wxmetvis/mss/commits/538f3b42755ac46b2689e3cec50d067e36eef642](https://bitbucket.org/wxmetvis/mss/commits/538f3b42755ac46b2689e3cec50d067e36eef642)

[2020-09-29 11:50] ReimarBauer commented on #579
**Original comment by Aryan (Bitbucket: [Aryan Gupta](https://bitbucket.org/Aryan Gupta), ).**

----------------------------------------

@{557058:3ffd4910-450c-422e-9ab9-726d7f2c7449} , sorry for the delay. I have been occupied with university work.

I had searched about this before, but didn’t find much about shifting status bars over dock widgets. I think the purpose for this contraption is tha

[2020-09-29 15:45] ReimarBauer commented on #582
**Original comment by Shawn Honomichl (Bitbucket: [Shawn](https://bitbucket.org/Shawn), GitHub: [Shawn](https://github.com/Shawn)).**

----------------------------------------

Hi Jorn,

Are the altitudes in the aircraft performance JSON file supposed to be
in feet?  If so, that could definitely be my issue since I have them in
meters in my current version (see attachment).  If that is the case,
t

[2020-09-29 19:53] ReimarBauer commented on #579
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

there is no hurry for this

~ mid October I would be happy :\)

‌

[2020-10-01 11:01] ReimarBauer opened #583 "AttributeError: 'NavigationToolbar' object has no attribute '_set_cursor'"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/583) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

in topview the cursor moved over a regular map shows a traceback

[2020-10-04 16:31] ReimarBauer commented on #579
**Original comment by Aryan (Bitbucket: [Aryan Gupta](https://bitbucket.org/Aryan Gupta), ).**

----------------------------------------

@{557058:3ffd4910-450c-422e-9ab9-726d7f2c7449} , I searched this issue, and didn’t find anything concretely helpful. I believe this is not a bug, but by design.

* It has been designed to let the status of a **particular dockwidget be shown inside that one**, an

[2020-10-05 08:20] ReimarBauer commented on #578
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/mscolab_exceptions (pull request #868)

added an hard to guess secret to the image names and added missing exceptions, fixes #578

[2020-10-05 08:20] #578 closed, assigned to nobody

[2020-10-05 08:24] ReimarBauer commented on #579
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

ah ok, that makes sense :slight_smile:

[2020-10-05 08:25] ReimarBauer commented on #579
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

as discussed, the behaviour is by design, out of our scope

[2020-10-05 08:25] #579 closed, assigned to nobody

[2020-10-05 08:27] ReimarBauer commented on #517
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

We do this by the admin dashboard

[2020-10-05 08:27] #517 closed, assigned to nobody

[2020-10-05 08:29] ReimarBauer commented on #475
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

done by https://bitbucket.org/wxmetvis/mss/commits/13b0f85e6604a17f7ab58847cecb8b98055af64b

[2020-10-05 08:29] #475 closed, assigned to nobody

[2020-10-05 08:29] ReimarBauer commented on #543
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Done by
https://bitbucket.org/wxmetvis/mss/commits/13b0f85e6604a17f7ab58847cecb8b98055af64b

[2020-10-05 08:29] #543 closed, assigned to nobody

[2020-10-05 08:30] ReimarBauer commented on #202
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Done by
https://bitbucket.org/wxmetvis/mss/commits/13b0f85e6604a17f7ab58847cecb8b98055af64b

[2020-10-05 08:30] #202 closed, assigned to nobody

[2020-10-05 08:31] ReimarBauer commented on #548
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Done by
https://bitbucket.org/wxmetvis/mss/commits/cd7111620fad66a0dced0ffa9242fabfe465d370

[2020-10-05 08:31] #548 closed, assigned to nobody

[2020-10-05 08:32] ReimarBauer commented on #545
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Done by
https://bitbucket.org/wxmetvis/mss/commits/cd7111620fad66a0dced0ffa9242fabfe465d370

[2020-10-05 08:32] #545 closed, assigned to nobody

[2020-10-05 08:36] ReimarBauer commented on #488
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

@{joernu76} this is by the admin dashboard with two clicks done.

* select all user, give rights
* use one project as template for rights for the next project

I think basics are available and we can cl

[2020-10-05 08:49] ReimarBauer commented on #577
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

this belongs to the feedstock

[2020-10-05 08:49] #577 closed, assigned to nobody

[2020-10-05 09:57] ReimarBauer commented on #574
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

matplotlib 3.2.2 shows a change in cbook needed

[code]

ImportError: cannot import name 'cbook' from 'matplotlib' \(unknown location\)

[2020-10-05 10:04] ReimarBauer commented on #583
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

conda install matplotlib==3.1.3

solves this

‌

‌

[2020-10-05 10:25] ReimarBauer commented on #574
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

@{joernu76} can we go to 3.1.3 ?

‌

the 3.2.3 seems to need refactoring for cbook calls

‌

[2020-10-05 10:35] ReimarBauer commented on #572
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

automated test in

mslib/msui/\_tests/test\_topview.py s....

‌

[2020-10-05 11:17] ReimarBauer commented on #574
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

I do not see the same problem for matplotlib 3.2.2

I can import cbook.

[code]

matplotlib 3.3 also has a cbook. see [https://matplotlib.org/3.3.1/api/cbook\_api.html](https://matplotlib.org/3.3.1/api/cbook_api

[2020-10-05 11:18] ReimarBauer commented on #574
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

The error was fixed in basemap, btw, so due to the original error the issue should be closeable, though. Due to the version number nightmare, upgrading an existing conda might not work reliably, though.

[2020-10-05 17:01] ReimarBauer commented on #574
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

I flipped the version in both direction, may be that made it look broken to me.

starting msui and it shows a missing dependency.

[2020-10-05 17:02] ReimarBauer commented on #574
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

upstream fixed

[2020-10-05 17:02] #574 closed, assigned to nobody

[2020-10-12 18:26] ReimarBauer commented on #583
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

likly a local problem by a broken matplotlib installation

[2020-10-12 18:26] #583 closed, assigned to nobody

[2020-10-12 18:38] ReimarBauer opened #584 "remove add_bulk_permissions cmd script"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/584) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

We have various ways to setup projects by a user and should improve the API for this.

add\_bulk\_permissions cmd script was introduced at the start of the

[2020-10-12 18:54] ReimarBauer opened #585 "mscolab tests should use a tmp dir"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/585) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

currently mscolab writes tests to the users home dir colabdata. We should move this similar as for the wms tests to a tmp dir with an hast. By this it is a

[2020-10-12 19:04] ReimarBauer opened #586 "rename get_project get_project_by_id"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/586) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

we may be can have get\_projects return only one project, so we can remove the second get\_project

[2020-10-12 19:14] ReimarBauer opened #587 "server.update should be able to send a new revision"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/587) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

I’ve seen how I can rename a flight path. Can this be used to send a different ftml content file?

If not I would like to have this also for using in tests

[2020-10-13 11:08] ReimarBauer opened #588 "user id needs to be always unique"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/588) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

We have to enumerate or use a complex number or something else to get always on user creation a new id.

test\_server.test\_uniqueness\_of\_user\_id shows

[2020-10-16 10:53] ReimarBauer opened #589 "sockets_manager, refactor names which overwrite namespaces"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/589) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

in sockets\_manager we have json as imported module and also as name used

[2020-10-31 13:37] ReimarBauer commented on #585
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

mscolab uses a tmp dir, fixes #585
additional reoved a hardcoded secret

[2020-10-31 13:37] #585 closed, assigned to nobody

[2020-10-31 13:38] ReimarBauer commented on #589
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

fixed by
https://bitbucket.org/wxmetvis/mss/pull-requests/870/improving-test-coverage/diff

[2020-10-31 13:38] #589 closed, assigned to nobody

[2020-10-31 13:39] ReimarBauer commented on #588
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

failure in the test

[2020-10-31 13:39] #588 closed, assigned to nobody

[2020-10-31 17:14] ReimarBauer commented on #584
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

removed add_bulk_permissions cmd script, fixes #584

[2020-10-31 17:14] #584 closed, assigned to nobody

[2020-10-31 17:14] ReimarBauer commented on #584
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/remove_bulk (pull request #872)

removed add_bulk_permissions cmd script, fixes #584

[2020-11-01 15:32] ReimarBauer commented on #488
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

This is likly already implemented in a different way. We could setup  users. We could create a template project and inherite by this users and also rights.

We should do have the option on creating a ne

[2020-11-01 15:40] ReimarBauer commented on #418
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

recent version on conda-forge

https://github.com/conda-forge/mysqlclient-feedstock/blob/master/recipe/meta.yaml

[2020-11-01 15:40] #418 closed, assigned to nobody

[2020-11-01 15:42] ReimarBauer commented on #547
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

reopen if it happens again

[2020-11-01 15:42] #547 closed, assigned to nobody

[2020-11-01 15:43] ReimarBauer commented on #275
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

reopen if that is still wanted/needed

[2020-11-01 15:43] #275 closed, assigned to nobody

[2020-11-01 21:28] ReimarBauer commented on #309
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Added text editor for config file. Fixes #309

[2020-11-01 21:28] #309 closed, assigned to nobody

[2020-11-01 21:52] ReimarBauer commented on #558
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/new_fixations (pull request #875)

changed fixations of some modules, fixes #580, #558

[2020-11-01 21:52] #558 closed, assigned to nobody

[2020-11-01 21:52] ReimarBauer commented on #580
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

changed fixations of some modules, fixes #580, 558

[2020-11-01 21:52] ReimarBauer commented on #580
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/new_fixations (pull request #875)

changed fixations of some modules, fixes #580, #558

[2020-11-01 21:52] #580 closed, assigned to nobody

[2020-11-01 22:01] ReimarBauer commented on #562
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

it is configurable by the mss_settings.json file, For an end user this gets more complex by having alternatives by an env var. A dev has also other options by e.g. a different fork.

[2020-11-01 22:01] #562 closed, assigned to nobody

[2020-11-01 22:03] ReimarBauer commented on #503
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

depends on #523

[2020-11-01 22:06] ReimarBauer commented on #532
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

fixation removed by

https://bitbucket.org/wxmetvis/mss/pull-requests/875/changed-fixations-of-some-modules-fixes

[2020-11-01 22:06] #532 closed, assigned to nobody

[2020-11-01 22:14] ReimarBauer commented on #279
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

I think it is better to have a mss\_pyui command line option to check defined urls. We should cleanup from the beginning urls which can’t be accessed.

[2020-11-01 22:15] ReimarBauer commented on #523
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

guess that is soon merged
[https://github.com/conda-forge/staged-recipes/pull/10807](https://github.com/conda-forge/staged-recipes/pull/10807)

[2020-11-01 22:16] ReimarBauer commented on #572
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

reopen when it happens again

[2020-11-01 22:16] #572 closed, assigned to nobody

[2020-11-02 12:11] ReimarBauer commented on #525
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

currently we don't have problems by that

[2020-11-02 12:11] #525 closed, assigned to nobody

[2020-11-02 12:12] ReimarBauer commented on #481
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

already implemented

[2020-11-02 12:12] #481 closed, assigned to nobody

[2020-11-02 15:08] ReimarBauer commented on #81
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

this may become reopened later again

[2020-11-02 15:08] #81 closed, assigned to nobody

[2020-11-02 17:25] ReimarBauer commented on #456
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Have to be checked if that is still relevant

[2020-11-02 19:12] ReimarBauer commented on #503
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Thats very good documentated
https://flask.palletsprojects.com/en/1.1.x/deploying/mod_wsgi/#creating-a-wsgi-file

In our case such a file has 1 line.

from mslib.mscolab.server import APP

[2020-11-02 19:12] #503 closed, assigned to nobody

[2020-11-02 19:16] ReimarBauer commented on #133
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

hmm, without any modification a user could do that by peek or similar tools. [https://github.com/phw/peek](https://github.com/phw/peek)

![](https://bitbucket.org/repo/MBp6Xa/images/942800754-example.gi

[2020-11-02 19:27] ReimarBauer commented on #514
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

With an external ploting script also that issue may be is than solved?
[https://bitbucket.org/wxmetvis/mss/issues/133](https://bitbucket.org/wxmetvis/mss/issues/133)

[2020-11-03 10:56] ReimarBauer commented on #582
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

Hi Shawn, did altitude in feet work?

[2020-11-03 11:02] ReimarBauer commented on #582
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

I also looked in our sample files, and they seem fine. Some of our older json files have wrong units, though. We should probably tidy up those that we can get our hands on to avoid such errors in the future.

[2020-11-05 09:01] ReimarBauer commented on #582
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

As I think the error was caused by an outdated version of a JSON file using wrong comments I close this issue as no action is necessary on the repository.

[2020-11-05 09:01] ReimarBauer commented on #582
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

No action necessary as documentation and code are working properly. An old JSON file with a wrong comment caused the issue.

[2020-11-05 09:01] #582 closed, assigned to nobody

[2020-11-05 10:31] ReimarBauer opened #590 "another deprecation problem with matplotlib"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/590) by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

[code]

happens with matplotlib version 3.3.2

‌

[2020-11-05 10:52] ReimarBauer commented on #590
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

This probably requires quite a bit of a “clean” redesign of our toolbar hacking.

[2020-11-06 17:35] ReimarBauer commented on #590
**Original comment by Joern Ungermann (Bitbucket: [joernu76](https://bitbucket.org/joernu76), GitHub: [joernu76](https://github.com/joernu76)).**

----------------------------------------

Occurs for all matplotlib version > 3.3.0. Some other problems cropped up for the old code and matplotlib 3.2.x, but that should only be warnings…

Pinning matplotlib to >3.3.0 ensure that the new code works upo

[2020-11-08 09:04] ReimarBauer commented on #590
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Rewrote toolbar to accommodate matplotlib 3.3.x

Fix issue #590

[2020-11-08 09:04] #590 closed, assigned to nobody

[2020-11-08 09:12] ReimarBauer commented on #133
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Duplicate of #514.

[2020-11-08 09:12] #133 closed, assigned to nobody

[2020-11-08 09:12] ReimarBauer commented on #514
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Issue #133 was marked as a duplicate of this issue.

[2020-11-08 09:21] ReimarBauer commented on #46
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Duplicate of #520.

[2020-11-08 09:21] #46 closed, assigned to nobody

[2020-11-08 09:21] ReimarBauer commented on #520
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Issue #46 was marked as a duplicate of this issue.

[2020-11-08 09:25] ReimarBauer commented on #354
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

info done

[2020-11-08 09:25] #354 closed, assigned to nobody

[2020-11-08 09:32] ReimarBauer commented on #514
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Issue #165 was marked as a duplicate of this issue.

[2020-11-08 09:32] ReimarBauer commented on #165
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Duplicate of #514.

[2020-11-08 09:32] #165 closed, assigned to nobody

[2020-11-08 09:36] ReimarBauer commented on #295
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

This can be done by pyperclip, see Configuration Loader

[2020-11-08 09:42] ReimarBauer commented on #403
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

this is related to cartopy

[2020-11-08 15:00] ReimarBauer opened #591 "Improving dependencies"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/591) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Looks like we still fixate too much

[code]

‌

[2020-11-08 16:04] ReimarBauer commented on #591
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

removed not needed fixations, fixes #591

[2020-11-08 16:04] ReimarBauer commented on #591
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss (pull request #878)

removed not needed fixations, fixes #591

[2020-11-08 16:04] #591 closed, assigned to nobody

[2020-11-08 16:06] ReimarBauer opened #592 "convert markup reST to MD for help pages"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/592) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

We can get docutils removed when we use markdown for the help pages.

[2020-11-08 16:10] ReimarBauer opened #593 "from matplotlib.cbook import dedent"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/593) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

basemap / matplotlib problem

‌

with basemap-1.2.1 and matplotlib-3.3.2

I get for a fresh build

‌

‌

[code]

‌

[2020-11-08 16:26] ReimarBauer commented on #593
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Also missing in that combination

[code]

‌

[2020-11-08 21:49] ReimarBauer commented on #593
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

looked into basemap code

‌

‌

[code]

‌

trying with installing typing\_inspect

[2020-11-09 05:51] ReimarBauer commented on #593
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Part of the solution

[https://github.com/conda-forge/basemap-feedstock/issues/71](https://github.com/conda-forge/basemap-feedstock/issues/71)

Looking now at for the same reason on

[code]

this will l

[2020-11-09 06:49] ReimarBauer commented on #593
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

this is in basemap-1.2.2-3 solved.

[2020-11-09 20:17] ReimarBauer commented on #523
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

conda-forge feedstock created

[2020-11-09 20:17] #523 closed, assigned to nobody

[2020-11-10 06:46] ReimarBauer commented on #593
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

We get
basemap                   1.2.1            py37hd1be537\_2    conda-forge

but seem not to be able to update

[code]

‌

[2020-11-18 16:41] ReimarBauer commented on #593
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

a clean build environment solves this

[2020-11-18 16:41] #593 closed, assigned to nobody

[2020-11-23 09:18] ReimarBauer commented on #592
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

index help  documentation based on markdown, removing docutils, fixes #592

[2020-11-23 09:18] #592 closed, assigned to nobody

[2020-11-23 09:18] ReimarBauer commented on #592
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Merged in ReimarBauer/mss/docs (pull request #881)

index help  documentation based on markdown, removing docutils, fixes #592

[2020-11-25 18:47] ReimarBauer commented on #514
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Added draft for automatic plot retriever script. Should work for
vertical and horizontal cross-sections. Should be instensively tested.
Copy/paster should be reduced by refactoring msui code. At least a

[2020-11-25 18:47] #514 closed, assigned to nobody

[2020-11-25 19:34] ReimarBauer commented on #489
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

improves login protection by a server given auth method, fixes #489

[2020-11-25 19:34] #489 closed, assigned to nobody

[2020-11-26 17:53] ReimarBauer commented on #581
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

can't reproduce

[2020-11-26 17:53] #581 closed, assigned to nobody

[2020-11-30 09:25] ReimarBauer opened #594 "deprecations in matplotlib"
**[Original report](https://bitbucket.org/wxmetvis/mss/issue/594) by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

[code]

‌

[2020-11-30 11:51] ReimarBauer commented on #594
**Original comment by Reimar Bauer (Bitbucket: [ReimarBauer](https://bitbucket.org/ReimarBauer), GitHub: [ReimarBauer](https://github.com/ReimarBauer)).**

----------------------------------------

Added shading parameter to pcolor

* Adde "nearest" shading tp pcolor, which is what we wanted anyway.
  Simplifies code.
* Replaced pcolor by the newer and faster pcolormesh
* Removed the superfluous "

[2020-11-30 11:51] #594 closed, assigned to nobody

[2020-12-06 16:54] ReimarBauer commented on #160
common usage is only one instance running. So this additional information isn't needed.

[2020-12-06 16:54] #160 closed, assigned to nobody

[2020-12-06 16:57] ReimarBauer commented on #456
this may happen on development or testing. It is not the common use case.

[2020-12-06 16:57] #456 closed, assigned to nobody

[2020-12-06 17:13] ReimarBauer commented on #442
in 2.0 we removed the dependency to proj4

[2020-12-06 17:13] #442 closed, assigned to nobody

[2020-12-06 17:51] ReimarBauer commented on #403
for 2.0 we removed the proj4 dependency

[2020-12-06 17:51] #403 closed, assigned to nobody

[2020-12-07 07:15] ReimarBauer opened #600 "setup a containerd package"
in addition to the docker approach we have to add a setup for containerd

https://containerd.io/

https://containerd.io/docs/getting-started/

[2020-12-07 08:12] plant99 commented on #600
I wish to take this up, please assign this to me if you're not working on this.

[2020-12-09 18:11] ReimarBauer commented on #570
mss-2.0.0 is available for py3.6, py3.7, py3.8

[2020-12-09 18:11] #570 closed, assigned to nobody

[2020-12-10 07:34] ReimarBauer opened #607 "improve landing page"
e.g.

- fix typos
- add images

[2020-12-10 08:00] ReimarBauer opened #608 "Allow multiple flight paths within a single MSColab operation"
currently a user can add a new flightpath and manage users.

I'm thinking about an additional layer. A user could create a project first, which is a namespace, similiar to a github organisation.
A user could add or invite other users to the project. More than one flightpath could be created in a project. All users of the project gets inherited as users to any flightpath. A new user added to a proj

[2020-12-10 13:33] ReimarBauer opened #609 "problem with update_with_coordinate_change"
Happened when I zoom into a highlevel detail on topview.

![detail_zoom](https://user-images.githubusercontent.com/278728/101779723-f06ce900-3af5-11eb-9393-3b20a440f048.png)

[code]
As a workaround if you were using the colab feature:
When that happen e.g. disconnect and reconnect again. You get back what you did until the crash.

[2020-12-10 13:46] ReimarBauer opened #610 "navigation feature in topview, return to start point"
We may be should add a button on topview to automaticly connect the last point with the origin point.
We should not run in the situation a user has to drop a point on an other.

![detail_zoom](https://user-images.githubusercontent.com/278728/101780242-93256780-3af6-11eb-873a-8a3507eaf43d.png)

[2020-12-10 14:12] ReimarBauer opened #611 "snap to coordinates"
I'm thinking about an option to have inactive waypoints from other plannings on a map and that you are limited to only use these coordinates for a new plan.

They are shown as markers on the map too. if you get close to a marker this gives a signal and you can drop your waypoint on that.

[2020-12-11 10:20] ReimarBauer opened #612 "add basic install requirements"
we should add further requiremts files e.g.
- webserver (e.g. includes mod_wsgi)
- linuxtesting (pyvirtualdisplay)
- basics (all what we need in the meta.yaml)

[2020-12-11 13:15] Tanish0019 commented on #496
@ReimarBauer These terminologies have been changed. I think we can close this issue?

[2020-12-11 13:16] Tanish0019 commented on #480
@ReimarBauer Currently your recent URLs are saved in the input box. But there is no option to remove. Maybe we can keep top 5 recently used urls or something similar?

[2020-12-11 15:23] ReimarBauer commented on #480
@Tanish0019 yes that's fine

[2020-12-11 15:25] ReimarBauer commented on #496
great :)

[2020-12-11 15:25] #496 closed, assigned to nobody

[2020-12-11 15:28] ReimarBauer commented on #607
We should add some of the images like this one
https://remus.jpl.nasa.gov/kiruna/a020.htm

[2021-01-04 12:30] Marilyth opened #613 "Mamba problem on installing mss"
Hey there!

I tried following the instructions for installing MSS in the README, namely:
[code]
Everything works fine until the last step, `mamba install mss`.
I tried doing it on a relatively new Linux system, as well as on Windows 10.
Both receive the following output, and error:
[code]
I guess there is a reason the old instruction was changed, but using `conda install mss` instead seemed to ins

[2021-01-04 13:12] ReimarBauer commented on #613
that's interesting. it seems to try to install a py27 version mss-1.2.1-py27
The reason may an old catalogue. Which version of anaconda was used?

[2021-01-04 15:38] Marilyth commented on #613
I installed anaconda fresh on both systems today, I checked a few versions which might be relevant:

mamba 0.7.6
conda 4.9.2
anaconda Command line client (version 1.7.2)

Nothing was done with anaconda other than the few lines provided in the installation instructions.
Something, somewhere must be outdated then, I think.

[2021-01-04 17:06] ReimarBauer commented on #613
reproduced

we have to use for mamba
`conda create -n mssenv python=3.8`

mamba seems not to be able to decrease the python version. And currently we have not a mss build for python=3.9

[2021-01-05 07:09] Marilyth commented on #613
I can confirm specifying python=3.8 has solved the issue for me.

[2021-01-05 11:09] wolfv commented on #613
Hi @Marilyth thanks for trying mamba.

Indeed, the error message is slightly confusing.

The problem is that conda & mamba handle Python in a special way: the minor version is pinned, so that mamba will always keep python 3.9 unless explicitly asked to change the python version.

You can work around this by either specifying `mamba install mss python=3.8`.

The error message comes from the fact th

[2021-01-05 11:26] Marilyth commented on #613
I think this is something @ReimarBauer is more qualified to answer than me.

[2021-01-05 12:46] ReimarBauer commented on #613
Hi @wolfv thanks for helping ;)

In the past a dependency by a used library was not ready for 3.9. I do recheck this currently.

It looks to me that the "conda install" focuses on the newest package wanted and makes this the major dependency while mamba does this on the pinned python version.

May be both can be resolved by first doing a fast lookup, checking if there is a match and the newest pac

[2021-01-07 09:23] joernu76 commented on #575
The current module has this line `from PyQt5 import QtGui, QtCore, QtWidgets, QtTest, Qt  # noqa`, which bundles the import of core QT modules. All other modules should not use the modules imported here, but directly import from PyQt5.

[2021-01-07 11:22] ReimarBauer opened #615 "in development documentation replace pep8 by flake8"
We still describe the pep8 module in https://mss.readthedocs.io/en/stable/development.html
This should be changed to flake8  e.g. `pytest --flake8`

or pycodestyle

`pycodestyle --show-source --show-pep8  mslib`

[2021-01-07 12:16] ReimarBauer opened #617 "after login on yourmss error shown on terminal"
After a login on yourmss I see an error message processed by the client.
The login seems to have succeeded, I can continue with the session.

`Fatal error in MSS 2.0.0. on Linux-4.15.0-129-generic-x86_64-with-glibc2.10
Python 3.8.5 (default, Sep  4 2020, 07:30:14)
[GCC 7.3.0]

Please report bugs in MSS to https://github.com/Open-MSS/MSS

Information about the fatal error:

Traceback (most recent c

[2021-01-07 14:04] ReimarBauer commented on #617
this happens also in the stable master branch and with the builtin server.

[2021-01-07 15:52] ReimarBauer commented on #617
We have a strong dependency to python-engineio>=3.13.2 <4
We do have a lot failing tests with 4.0.0 of  python-engineio

pytest -k mscolab_project fails immediatly

[2021-01-08 11:37] ReimarBauer commented on #617
We need a fix in our meta.yaml
python-engineio>=3.13.2 <4
flask-socketio >=4.3.1 <5
python-socketio >=4.6.0<5

[2021-01-08 12:01] joernu76 opened #619 "set up github actions for building/testing/containers"
I think as we have the means, the next, most important step would be to set up the github actions to automatically execute and check the syntax and test cases. Second would be to visualize coverage using the Pages feature.
It is very wasteful that we have not automated that.

I propose this course of action in this order

1) set up an "action" to install a conda environment and execute tests in a

[2021-01-08 12:02] joernu76 commented on #619
Ancillarily, 2) allows us to run tests against a known-good environment as well as running (e.g. weekly) against a container employing the most recent packages, which will allow us to determine quickly if new packages break MSS.
I have a similar setup for juwave, which could serve as a pattern.

[2021-01-08 13:19] Marilyth commented on #619
I didn't yet get to learn much about GitHub actions and how it works with containers.
I will play around with it during the weekend and see if I can make an informed opinion afterwards.

[2021-01-08 13:29] joernu76 commented on #619
Perfect. Maybe Reimar can chime in with some ideas of his. But this should be prioritized IMO, because having that set up properly will save us quite a lot of work. I have become so used to that from my other projects that checking manually MSS tests fells like walking through a quagmire.

[2021-01-08 15:11] ReimarBauer commented on #617
I try to do a fast fix of these dependencies with a 3.9 build, increasing the build number
https://github.com/conda-forge/mss-feedstock/pull/85

[2021-01-08 15:52] ReimarBauer commented on #619
I think we should manage the installation for the tests by a
`mamba install --file requiremtents.d/base.txt` and an additional `mamba install --file requiremtents.d/development.txt` here.
This is related to https://github.com/Open-MSS/MSS/issues/612
On future gsoc projects I do prefer in this namespace an additional requirements file, which we can remove after merge.

I have a container on the doc

[2021-01-08 16:01] plant99 commented on #600
@ReimarBauer I was looking at this a week back, and I believe containerd is a spec/library used to work on pre-built images, it doesn't let us build an [OCI](https://opencontainers.org/) image per-se. Please correct me if I'm wrong.

[2021-01-08 16:08] plant99 commented on #600
Regarding #619 , I feel we should stick to docker containers.

There would be more abundant documentation on CI/CD of Docker images from GitHub actions.

[2021-01-08 19:12] ReimarBauer commented on #613
We have now a python-3.9 release.  Possibly it occurs again with > py 3.9.

[2021-01-08 19:12] #613 closed, assigned to Marilyth

[2021-01-08 19:18] #575 closed, assigned to Marilyth

[2021-01-11 07:29] ReimarBauer opened #620 "alternatives to Basemap for plotting contours on maps"
Collection of ideas to replace basemap

* https://scitools.org.uk/cartopy/docs/latest/
* https://github.com/python-visualization/folium/issues/958
* https://stackoverflow.com/questions/65634602/plotting-contours-with-ipyleaflet/65655648#65655648

[2021-01-11 11:39] #610 closed, assigned to nobody

[2021-01-11 12:58] Marilyth commented on #619
GitHub runners, as far as I am aware, just run on a console environment.
How would we go about testing the UI segments of MSS? The tests containing UI cause pytest to abort on the GitHub runners.
Perhaps we need a self-hosted runner for that.

For reference: https://github.com/Marilyth/MSS/runs/1681236755?check_suite_focus=true

[2021-01-11 13:23] joernu76 commented on #620
We should probably revisit the cartopy branch from 2019. Maybe they fixed some of our issues?

[2021-01-11 13:29] joernu76 commented on #619
If we have full root rights, we can install a framebuffer-based X server and the pyvirtualdisplay module to test all the UI on the console.
I.e. I do not see an issue for that if we can install both Linux packages and Python modules as we should be able to in a docker environment.
I set my laptop up for this last Friday. The (a?) necessary debian package was 'xvfb' and the conda package was 'pyvir

[2021-01-11 14:56] ReimarBauer commented on #619
from our development docs

On linux install the conda package pyvirtualdisplay and xvfb from your linux package manager. This is used to run tests on a virtual display. If you don’t want tests redirected to the xvfb display just setup an environment variable:

$ export TESTS_VISIBLE=TRUE

[2021-01-11 15:25] ReimarBauer opened #622 "updating dockerhub"
In the past the docker image on dockerhub was connected to bitbucket.

It seems not easily possible to change this repository to github.

[2021-01-11 15:31] ReimarBauer commented on #622
it was not possible to add an openmss organization to the exiting account and using new credentials. I guess in the database the name openmss is currently blocked. For testing I created an yourmss account on dockerhub.

A new user open-mss-build for accessing the repository was created and has read access to open-mss. This blocks dockerhub to have full access on anything I have access on github.

[2021-01-11 15:34] ReimarBauer commented on #622
A site notice, It is not possible to have in the same browser window docker hub connected to another github repository than the defined. e.g. yourmss / mss connected to defined open-mss-build does not work with me logged in in another tab/window.

[2021-01-11 15:55] ReimarBauer commented on #622
recognized that the dockerhub github user needs admin rights in the repository below Open-MSS.

dockerhub moved to the Organization added open-mss-build as admin to this repository.

Trying a build

[2021-01-11 17:17] ReimarBauer commented on #622
- starts the demo wms server
 docker container run --net=host --name mswns yourmss/mss:2.0.0 /opt/conda/envs/mssenv/bin/mswms
- starts the mscolab server
 docker container run --net=host --name mscolab yourmss/mss:2.0.0 /opt/conda/envs/mssenv/bin/mscolab start

mss client needs further investigation
docker container run --net=host --name mss yourmss/mss:2.0.0 /opt/conda/envs/mssenv/bin/mss
libgcc_

[2021-01-12 14:42] ReimarBauer commented on #622
always when it crashes a file /root/.cache/matplotlib/fontlist-v330.json.matplotlib-lock is created.

[2021-01-12 14:43] ReimarBauer commented on #622
sometime after mswms on a terminal shell was executed this file also gets created and the mswms server crashes too. After deleting the lock file, the gui can be executed.

[2021-01-12 14:46] ReimarBauer commented on #622
The  continuumio/miniconda3 seems to force a bit other dependencies too.
I can't upgrade to py-3.9 because argon2_cffi is in that package mandatory and it is not yet available for py-3.9

[2021-01-12 15:52] #617 closed, assigned to ReimarBauer

[2021-01-12 15:54] ReimarBauer commented on #622
currently added the exact build name it has to install. This behaviour is also different to a common installation.

[2021-01-12 16:08] ReimarBauer commented on #619
@joernu76 I'm not sure if 3) is easily doable, or how it should be done. We should not work on a doubled conda-forge just for mss.

A very simple option is to create regularly new builds or at least send build requests and use by that the conda-forge environment.
With this we have to define tests to find package conflicts too.  To find if there are new packages available, we can just build and use

[2021-01-12 16:34] joernu76 commented on #619
ad 3) Me neither. However doing something like `conda build whatever` to trigger a build locally should not be very hard? Feeding the result of conda-forge back into our project here seems way more difficult.

[2021-01-14 08:51] Marilyth opened #624 "test_mscolab.py fails seemingly on random"
During creation of the testing actions, I ran into the issue that test_mscolab.py failed twice, out of many attempts.
The tests were done by just rerunning the job, so nothing changed in the source code or anything, and the result should in theory not change.

The line that fails is this one: https://github.com/Open-MSS/MSS/blob/develop/mslib/msui/_tests/test_mscolab.py#L172
Currently I am not abl

[2021-01-14 16:59] ReimarBauer commented on #619
I got today to an other option for the dependency check for a released stable e.g. 2.0.0 by https://docs.docker.com/docker-hub/builds/automated-testing/

this sounds like ongoing builds and wait until a build fails

[2021-01-14 18:11] ReimarBauer opened #625 "configuration file loader does not load the default"
if a mss_settings.json exists its content gets not loaded into the UI

[2021-01-14 18:13] ReimarBauer opened #626 "configuration file update did not initialize msui"
After saving a new configuration the msui is not restarted as in the past and the new data is not used.

restart is one option, without a restart and using the new configuration would be good too.

[2021-01-14 18:34] ReimarBauer opened #627 "configuration editor did not close on quit of the loader"
The configuration editor should be closed on quit of the main window.

But if there are not saved changes it has to ask to store them and wait for 60 seconds

[2021-01-15 07:29] ReimarBauer commented on #619
For 2)

Lets look on this as a multidimensional problem to figure if a dependency gets broken.

We need an ongoing installation of the released version and running tests. This could be solved by dockers automated-testing.
At the time this fails, we know we have to do a new build on conda-forge with a fixation of packages.
With the new build the problem of stable is solved.

After the build of stab

[2021-01-15 13:45] Marilyth commented on #619
This is also more or less what I envisioned.

Now that we have the Dockerfiles for everything ready (I think), we should see to their automatic creation and testing.
After everything is automated on dockerhub, this whole endeavor will be a lot easier to understand and achieve.

[2021-01-19 18:58] ReimarBauer commented on #612
We solved this differently for the docker setup

[2021-01-19 18:58] #612 closed, assigned to nobody

[2021-01-19 18:59] ReimarBauer commented on #607
the mobile version needs a fix has no navigation and no logo currently

[2021-01-20 07:45] Marilyth commented on #619
So, to the best of my understanding:
1. is done already with the current action
2. this image is automatically created each day, but currently still pushed to marilyth/mss-test instead of yourmss/mss-test
    once it is pushed to the correct account, this can replace 1.
3. is automatically done as well, by creating and testing a develop docker image every day
4. I am not entirely sure what this ac

[2021-01-20 08:58] joernu76 commented on #619
I think you started with 4). This serves people who want to use mss instead of just testing it :-)
From what I got during the meetings you have covered these basic steps for the most part. What we could not agree on last Thursday was the following. How to:

a) Periodically identify breakage of stable MSS due to environmental (i.e. dependency) breakage
b) ensure that the tests of a merge request to

[2021-01-20 10:04] Marilyth commented on #619
a) is definitely addressed by dockerhub right now. Every day stable MSS is tested, and if the tests fail it is a sign of an environmental issue (or #624).

b) unless the merge request specifically modifies the dependencies, the dependencies won't be an issue, as the images with which the tests are run are up to date and working.
If they do modify the dependencies, we just need to install the new o

[2021-01-22 09:40] ReimarBauer opened #628 "introduce pages open-mss.github.io"
## Intro

We need a place better than the builtin wiki of github to share Proposals for the next google summer of code

And we have already in static markdown files which are used on all MSS servers

A quite similiar theme layout can be used by jekyll minima. I configured this for https://open-mss.github.io/

Because a common jekyll local installation will install newer packages than the github is

[2021-01-22 11:00] ReimarBauer commented on #628
Mail from github:

You are currently using the 'markdown' Markdown engine, which is no longer supported by GitHub Pages and may cease working at any time. To ensure your site continues to build, remove the 'markdown' setting in your site's '_config.yml' file and confirm your site renders as expected. For more information, see https://docs.github.com/github/working-with-github-pages/setting-a-markd

[2021-01-22 14:58] #619 closed, assigned to nobody

[2021-01-22 18:05] ReimarBauer opened #630 "KeyError: 'PROJ_LIB'"
it seems that we don'r have the patch available if we have installed the developer environment by
[code]
This shows up as failure when e.g. the server is started now
[code]

[2021-01-22 18:08] ReimarBauer commented on #630
setting this var seems to be all needed
```(mssdev)$ export PROJ_LIB=$CONDA_PREFIX/share/proj```

[2021-01-22 18:11] ReimarBauer commented on #630
that's maybe also a difference for mamba?

[2021-01-22 19:27] ReimarBauer commented on #628
introduced an exclude from navigation entry and added already some sample documents

https://open-mss.github.io/develop/
next is to add the GSOC related docs

[2021-01-23 11:50] ReimarBauer commented on #628
site is prepared for the MSS suborg of the python-gsoc. requested our participation in the python-gsoc application.

[2021-01-24 12:16] ReimarBauer commented on #628
- [x] remove server install from
https://open-mss.github.io/install/

- [x] apache2 setup needs to be decribed by ansible. Until this is given we link to the rtfd documentation

- [x] decribe options by docker

[2021-01-24 12:17] ReimarBauer opened #631 "create an ansible playbook project"
for a apache2, gunicorn setup we should create an ansible playbook,
base should be installation of yourmss.org

[2021-01-24 12:21] ReimarBauer commented on #628
- [x] cleanup github wiki, remove all gsoc planning pages. **keep results**

[2021-01-25 13:58] Tanish0019 commented on #586
@ReimarBauer `get_project` is a find by id endpoint and `get_projects` is a get all endpoint. I don't think we need to merge the two?

[2021-01-25 14:01] Tanish0019 commented on #452
@ReimarBauer This is defining the admin window. This issue can be closed now I think

[2021-01-25 14:07] ReimarBauer commented on #586
not neccesarily

I thought about, when we give no p_id to get_project if it then can return the whole list.

But looking on it now, we can't tell "False" in that case.

I think we should rename one e.g. get_project_by_id

[2021-01-25 14:15] ReimarBauer opened #632 "verify user creation for mscolab"
Currently we can create users in the UI of mscolab without verification by a valid email

we need to send an email to the user and verify by a token that his email address is correct.
only verified users should be added to the database by the gui.

[2021-01-25 14:29] ReimarBauer opened #633 "edit user data in mscolab"
Currently we can add users by username, email address and a password

We need
 - password change
 - change username
 - change email, only after we can verify the changed email adress, https://github.com/Open-MSS/MSS/issues/632

[2021-01-25 14:32] ReimarBauer commented on #633
A further step can be to add a password recovery method.

[2021-01-25 14:51] ReimarBauer commented on #630
verified
(mssdev)$ conda install mss --only-deps

creates the env var but replaced by mamba not

But I also found an easy solution, The env var is enabled on restarting the env.

[code]

[2021-01-25 15:07] ReimarBauer commented on #630
documentation fixed and upwards reported

[2021-01-25 15:07] #630 closed, assigned to ReimarBauer

[2021-01-25 15:09] ReimarBauer commented on #607
we need a way to use the github pages and additional use an imprint on the site

[2021-01-25 15:09] Marilyth commented on #201
I would like to avoid reading through two 80+ page documents and finding their differences, if in any way possible.
So I found this little summary of differences between 1.1.1 and 1.3.0, which seems oddly small.
https://docs.geoserver.org/latest/en/user/services/wms/basics.html#differences-between-wms-versions

Is this accurate, or did they leave something important out?

[2021-01-25 18:07] ReimarBauer commented on #201
I think that's all. The main point is that ordering.

https://gis.stackexchange.com/questions/23347/getmap-wms-1-1-1-vs-1-3-0

http://dmorissette.blogspot.com/2012/12/dont-upgrade-to-wms-130-unless-you.html

[2021-01-25 19:04] #452 closed, assigned to nobody

[2021-01-25 19:06] ReimarBauer commented on #622
`libgcc_s.so.1 must be installed for pthread_cancel to work `
was solved by adding a sleep timer, so it gets off the lock state

[2021-01-25 19:06] #622 closed, assigned to ReimarBauer

[2021-01-25 20:08] ReimarBauer commented on #624
We can reopen it, when we have more details

[2021-01-25 20:09] #600 closed, assigned to plant99

[2021-01-25 21:06] ReimarBauer opened #634 "view and edit comfortable json configs"
currently we have a plain text editor for working with json files

This is a different approach
https://github.com/PaulSchweizer/qt-json-view

this will need a small refactoring for python-3 and QT5.

We have also to verify if our data is compatible.

That's the documented example. That's promising. We have to look on the boolean syntax. I changed for the example False to None.

![qt-json-view](ht

[2021-01-26 10:01] ReimarBauer commented on #627
the closing is fixed but not the save request

[2021-01-26 11:30] ReimarBauer opened #636 "mscolab export/import did not use configured "filepicker_default": "fs""
if we configure in mss_settings.json the "fs" filepicker this is currently for mscolab export/import ignored

To verify this you need a config file mss_settings.json to be stored in $HOME/.config/mss

[code]

The used QtWidgets.QFileDialog.getSaveFileName needs to be replaced by mss_qt.get_save_filename
also QtWidgets.QFileDialog.getOpenFileName by the one of mss_qt.

To compare how that file pick

[2021-01-26 11:45] ReimarBauer opened #637 "Editing mscolab Url must be blocked on connect"
We need to disable editing of the mcolab url once connected. And enable it on disconnect.

![block_editing_of_url](https://user-images.githubusercontent.com/278728/105840583-84760f80-5fd3-11eb-9bda-edfe4e10d7e3.gif)

https://github.com/Open-MSS/MSS/blob/develop/mslib/msui/mscolab.py

[2021-01-26 11:53] ReimarBauer opened #638 "mscolab chat upload/download did not use configured "filepicker_default": "fs""
This is similar to
https://github.com/Open-MSS/MSS/issues/636

if we configure in mss_settings.json the "fs" filepicker this is currently for mscolab chat upload/download ignored

To verify this you need a config file mss_settings.json to be stored in $HOME/.config/mss

{
 "filepicker_default": "fs"
}

mss_qt.get_open_filename needs to be used

source to look at
https://github.com/Open-MSS/MSS/blo

[2021-01-26 14:32] #627 closed, assigned to nobody

[2021-01-26 14:46] #625 closed, assigned to nobody

[2021-01-26 14:57] ReimarBauer opened #639 "mscolab disconnect button"
The disconnect button should use the position of the connect button after  connected. And with disconnect the button should show connect.

![disconnect](https://user-images.githubusercontent.com/278728/105861059-9913d100-5fee-11eb-9022-0174512f16a1.png)

There are changes in mscolab.py needed
https://github.com/Open-MSS/MSS/blob/develop/mslib/msui/mscolab.py

[2021-01-26 15:10] ReimarBauer opened #640 "fix typo of word "collaboration" in documents"
We should use the word "collaboration" instead of "colaboration" in all descriptions.

We keep the word mscolab for the module etc.

[2021-01-26 17:22] ReimarBauer opened #642 "only if a mss_settings.json is defined it should be loaded"
The last change to the editor introduced a mandatory mss_settings.json file which we don't have by default.

It should only be loaded when it exists.

While we don't have automated tests on stable this was not shown up.

[2021-01-26 17:44] BobinMathew opened #643 "Missing Code of conduct and Contributing documents"
Hi, I see that your project don't have a Code of conduct.md and Contributing.md file
would you like me to Propose one for your team?
It will make your community profile stronger.

[2021-01-26 18:04] ReimarBauer opened #644 "kml overlay should show the selected color close to the filename"
It is difficult with multiple kml files in a list to find the right one. A double click opens the navigation to updates,

![kml_colorpicker](https://user-images.githubusercontent.com/278728/105883196-dedc9380-6006-11eb-9b76-3f520eb8fa3c.gif)

We want right off the filename a box with the color used and optional that it can be changed by a click
Same for the line style.

Something like:

![kml](htt

[2021-01-26 18:06] ReimarBauer commented on #643
We are new on github, thx for the hint. Please share a link.

[2021-01-27 09:54] ReimarBauer opened #649 "add a test configuration which uses the "filepicker_default": "fs""
the default of MSS is to use the QT filepicker. But the code should always be able to use the fs_filepicker too.

Also checks for files need to use the fs library, otherwise we can't change the default to some external storage e.g. webdavfs

The syntax of  a fs url can be different to the one handled by the os module.
e.g.
https://docs.pyfilesystem.org/en/latest/openers.html

The test config may b

[2021-01-27 16:31] Tanish0019 opened #650 "Remove email field from admin window in mscolab"
We don't want to show the emails of all the users in the admin window for privacy reason so we need to remove that field from the admin window in mscolab.

**Opening Admin Window**
 - Start mscolab server and the main mss ui
 - Go to mscolab window from the toolbar at the top
 - Connect to mscolab server, login as user, select a project then click on manage users

![image](https://user-images.gith

[2021-01-27 16:42] joernu76 opened #651 "Replace old ".format" syntax with f"" strings"
We should replace old .format strings with the new f"" formatting syntax (Please note: the logging must use the old % syntax; aside logging also f"" syntax should be used).

[2021-01-27 16:53] #189 closed, assigned to Marilyth

[2021-01-27 16:54] joernu76 commented on #189
Solved by Marilyth.

[2021-01-28 05:58] ahelii16 commented on #640
Can I do this one?

[2021-01-28 06:41] ReimarBauer commented on #640
what a "word" can make a difference. In text we should care for typos.

[2021-01-28 07:02] ahelii16 commented on #640
We keep the word mscolab for the module etc. - can you explain what this means?

[2021-01-28 10:13] ahelii16 commented on #640
I have fixed the typo for collaboration in the latest commit for #642 . However I forgot to write #640 . Can you please confirm if it's alright?

[2021-01-29 05:53] ReimarBauer commented on #640
we don't want to rename the module mscolab.py

[2021-01-29 05:58] ReimarBauer commented on #640
I look on this later.
Next time do a new PR for a new issue.

[2021-01-29 06:15] ReimarBauer commented on #640
nothing remaining :) Everything alright!

[2021-01-29 06:15] #640 closed, assigned to ahelii16

[2021-01-29 06:48] ahelii16 commented on #640
Thanks 👍

[2021-01-29 07:28] ReimarBauer opened #653 "unify parameter for creation of demodata to "seed""
We have two server components which can be tried with some demodata.

[code]

In the demodata module "create" needs to become renamed to "seed".

Documentations have to become updated too.

[2021-01-31 13:56] iamansoni commented on #615
I would like to work on this task. You can assign it to me.

[2021-01-31 14:07] iamansoni commented on #651
I would like to work on this task. You can assign it to me. Is this to be done for all the files of [mslib](https://github.com/Open-MSS/MSS/tree/develop/mslib) or only to some files of it?

[2021-01-31 17:46] ReimarBauer commented on #651
Hi @iamansoni
this is already in the queue, taken by SergeLeon.

[2021-01-31 17:49] #642 closed, assigned to nobody

[2021-02-01 02:51] iamansoni commented on #651
Ok, cool!✌

[2021-02-01 12:02] ReimarBauer commented on #624
Sometimes also in our test framework this fails and vanishes on a rerun.

[2021-02-01 12:22] ReimarBauer opened #658 "remove the dockerfiles directory from the repository"
We have on the organisation Open-MSS a dedicated repository for builds on dockerhub

https://github.com/Open-MSS/dockerhub

We should remove the old outdated dockerfiles directory from the development branch.

[2021-02-01 16:19] ReimarBauer opened #659 "write tests for several main() functions"
We have a bunch of main() function and they may not be covered by tests.

We have to increase the coverage of those lines too.

[2021-02-02 08:51] #653 closed, assigned to nobody

[2021-02-02 15:54] #651 closed, assigned to nobody

[2021-02-02 18:07] ReimarBauer opened #660 "config_loader needs to return a default value when this is missing in a config"
This test fails in the moment a config is given and num_labels not set
[code]

currently this give

in config_loader

[code]
[code]
In that case we should lookup if the default dict has a value and return that. It there is nothing given we have to raise KeyError

[2021-02-02 20:29] ahelii16 commented on #637
Hey @ReimarBauer I'll take this up!

[2021-02-02 20:34] ReimarBauer commented on #660
this needs before fixing it a test

[2021-02-03 04:37] ahelii16 commented on #639
Hi, can I take up this issue?

[2021-02-03 08:06] ReimarBauer opened #662 "migration dockerhub yourmss to organization openmss"
We got access by support of hub.docker to
https://hub.docker.com/orgs/openmss/

the workflows for dockerfiles have to be changed and also the site for official releases needs to be updated

[2021-02-03 10:55] joernu76 commented on #420
New try shows that the issue seems to have been fixed. Both without a projection or with and .as_geodetic() it works.

[2021-02-03 16:15] Tanish0019 commented on #639
@Ahelii16 Sure

[2021-02-03 17:15] nakul-shahdadpuri commented on #650
@Tanish0019 Hi, can I take up this issue?

[2021-02-03 19:34] #637 closed, assigned to ahelii16

[2021-02-03 19:42] ReimarBauer commented on #650
You have it

[2021-02-03 19:42] ReimarBauer commented on #650
Please send a PR to develop

[2021-02-04 13:43] joernu76 commented on #620
I rebased the old branch to current develop. There was a looot of stuff. I resolved everything properly, but I didn't test it yet. Probably doesn't work.
See
https://github.com/Open-MSS/MSS/tree/cartopy_rebased

[2021-02-04 14:26] gisi90 opened #665 "MSS 2.0.0 Topview crashes with geos 3.9.x"
Topview is not working for a new installation of mss (2.0.0) in new anaconda environment using mamba.

Occurence: everytime when one tries to open topview
System: Linux and Windows

![grafik](https://user-images.githubusercontent.com/54586339/106905391-89863d80-66fc-11eb-85bc-e9c1b68ef9de.png)

![grafik](https://user-images.githubusercontent.com/54586339/106905976-01546800-66fd-11eb-8bb1-6bfce44d1

[2021-02-04 15:12] joernu76 commented on #665
Mmmh. With a fresh install, I have the same problem. Shouldn't the dockerhub image fail then as well @Marilyth ?
I have yet to find what package causes the problem.
matplotlib is the same version, basemap has a different subversion though (py38h85717e3_3 against py38h2516ec2_4).

[2021-02-04 15:34] joernu76 commented on #665
Okay, I found the culprit.
geos                      3.9.0
crashes
geos                      3.8.1
works.

[2021-02-04 15:35] joernu76 commented on #665
@gisi90 can you verify that
`
mamba install geos=3.8.1
`
solves the issue for you?

[2021-02-04 15:37] joernu76 commented on #665
@ReimarBauer I am a bit unsure where to change that with out current build structure. Also, geos was so far not in our dependency list...
I propose as hotfix to limit geos to version 3.8.x or below and try to solve the underlying issue, probably upstream...? But we need to develop a minimal testcase for that to demonstrate the problem.

[2021-02-04 15:38] joernu76 commented on #665
I assigned Reimar to this issue for the hotfix. We should reassign it to me or @Marilyth for solving the underlying issue.

[2021-02-04 15:38] gisi90 commented on #665
@joernu76 geos 3.8.1 solves the issue

[2021-02-04 15:40] gisi90 commented on #665
@joernu76 thanks for finding the cause

[2021-02-04 16:45] ReimarBauer commented on #665
Oh, what a coincidence hours ago I explained the build number _1 of mss-2.0 ;)

I will prepare a build _2 in a moment

[2021-02-04 16:47] joernu76 commented on #665
Perfect. Do you know how to install specific build numbers with conda?

[2021-02-04 16:57] ReimarBauer commented on #665
just add the next parameter, e.g.
[code]

[2021-02-04 17:00] ReimarBauer commented on #665
we had geos not yet as a direct dependency in our meta.yaml
That means it is called by another package we also use.
We should forward that problem to that package feedstock

https://github.com/conda-forge/basemap-feedstock/tree/master/recipe

[2021-02-04 17:09] ReimarBauer commented on #665
@joernu76 I would love to see a pytest which can trigger that behaviour. Then we can care for that also in the normal test situation.

[2021-02-04 17:44] joernu76 commented on #665
@ReimarBauer We have that. Opening a TopView with a default config crashes and we do that in Tests.
This should have been discovered in the daily(?) dockerhub builds...?

[2021-02-05 13:23] ReimarBauer commented on #665
we provide build 2 on conda-forge

[2021-02-05 13:51] joernu76 commented on #665
I'd like to keep this open for a while as the fundamental issue (MSS not compatible with current geos) remains and needs to be fixed eventually. I'll reduce the priority.

[2021-02-05 20:05] ReimarBauer commented on #665
We don't import geos, it comes with basemap. I guess we need another fix in basemap - upstream fix needed

I created an issue already in the basemap feedstock, but that's also only a follow up of the origin problem

[2021-02-05 20:15] ReimarBauer commented on #665
I guess this is an issue of geos or basemap not aware of an API change. We do need a test to address it or discuss it with geos / basemap.

[2021-02-05 21:47] ReimarBauer commented on #634
in moinmoin the help information is generated automatically from the decriptions in the source
result:
http://moinmo.in/HelpOnConfiguration#Access%20control%20lists
source: https://github.com/moinwiki/moin-1.9/blob/master/MoinMoin/config/multiconfig.py#L753

The new editor has to show the meaning of the keys

Also the saved file has only to store changed from default.

On loading a minimum set of

[2021-02-06 15:01] risehr commented on #644
Hey @ReimarBauer Can I try this issue?

[2021-02-06 15:18] ReimarBauer commented on #644
@risehr you have it

the function is also decribed on
https://open-mss.github.io/help/

[2021-02-08 07:49] joernu76 commented on #665
I agree that this is not "our" issue, but I am unsure whom to blame yet. To properly file an issue with someone else, we'd need a minimal testcase IMHO. I'll try to generate one this week. Did you file any issue already? Can you cross-link those?

[2021-02-08 08:35] Marilyth opened #669 "Docker images don't always pick up new packages"
As we could see with #665 our docker images don't seem to be installing the latest versions of packages reliably.
Issues that arise from updated packages thus don't always get caught.

It seems like the issue might come from using conda instead of mamba for installation, as these two don't behave the same way.
We might also have to run `conda/mamba update --all` to make sure new packages are insta

[2021-02-08 09:08] Marilyth commented on #669
For reference, this is `conda list` when installing through mamba
[code]

This is `conda list` when installing through conda
[code]

[2021-02-08 19:17] #649 closed, assigned to ReimarBauer

[2021-02-08 19:17] #660 closed, assigned to ReimarBauer

[2021-02-08 19:47] ReimarBauer commented on #665
@joernu76 I did this twice time already. But it is difficult to see in comparison to the old place. Look for some picture like

![explain](https://user-images.githubusercontent.com/278728/107273010-cf216e00-6a4e-11eb-86f9-35f3fbb487f9.png)

[2021-02-08 19:50] ReimarBauer commented on #669
please mention this situation also on the mamba issue tracker.

[2021-02-08 19:52] ReimarBauer commented on #669
hmm, basemap build 4 is wrong. The rules should block access to it.

[2021-02-08 19:56] ReimarBauer commented on #669
There may be a bias. We need a merge from stable to develop. in meta.yaml of stable is the fix geos <3.9.0

[2021-02-09 17:42] ReimarBauer commented on #665
sorry that was by mistake, wrong button clicked.

[2021-02-10 16:44] ReimarBauer opened #673 "error message needs to be improved for CERTIFICATE_VERIFY_FAILED on mscolab"
the mscolab GUI did not request a connection to a ssl server if  CERTIFICATE_VERIFY_FAILED

and tells only:

MSColab server isn't active

[2021-02-10 17:29] ReimarBauer commented on #673
We need to be a bit more verbose for such problems  in mscolab.connect_handler

[code]

[2021-02-10 18:19] ReimarBauer commented on #615
sorry for my late answer, I do now more often lookup all requests of me.

[2021-02-10 18:32] ReimarBauer commented on #609
[code]

[2021-02-12 15:48] #615 closed, assigned to iamansoni

[2021-02-15 06:52] #201 closed, assigned to Marilyth

[2021-02-15 12:27] Marilyth commented on #669
It also seems like we run into another issue related to versions. Which can be seen
[here for develop](https://github.com/Open-MSS/dockerhub/runs/1901337903?check_suite_focus=true) and [here for stable](https://github.com/Marilyth/dockerhub/runs/1854030727?check_suite_focus=true)
The error originates form this line
https://github.com/Open-MSS/MSS/blob/629887456abd9c0df9bc3ce402446ab86e186622/mslib

[2021-02-15 17:34] ReimarBauer commented on #530
played a bit with some options of pytest-xdist
[code]

================================== short test summary info ===================================
FAILED mslib/mscolab/_tests/test_chat.py::Test_Chat::test_get_messages_api - assert 0 == 2
FAILED mslib/mscolab/_tests/test_files.py::Test_Files::test_undo - IndexError: list index o...
FAILED mslib/mscolab/_tests/test_files_api.py::Test_Files::test_

[2021-02-20 08:25] ReimarBauer commented on #530
We have a lot of dependencies that have to be taken into account

For the scope loadfiles or in general

Tests must not have any dependencies to other tests especially:
 - use new sockets for each test
 - use new ports
 - reinitialize databases

[2021-02-20 14:04] ahelii16 opened #680 "Test_mscolab.py failing in develop branch"
Failing in:  test_view_open, test_get_recent_pid

[2021-02-20 14:17] ReimarBauer commented on #680
please show the traceback, and also details about used OS

our testframework here currently looks up only linux

[2021-02-20 14:23] ahelii16 commented on #680
I'm using Ubuntu 18.04.2 LTS

[2021-02-20 14:29] ahelii16 commented on #680
=========================================================================================== test session starts ============================================================================================
platform linux -- Python 3.8.5, pytest-6.2.2, py-1.10.0, pluggy-0.13.1
rootdir: /home/aheli/Desktop/MSS, configfile: pytest.ini
plugins: cov-2.11.1
collected 40 items

mslib/msui/_tests/test_msco

[2021-02-20 15:46] ReimarBauer commented on #680
some of the tests keep some states. I do refactor this currently.
After that merge is done hopefully this is also fixed.

https://github.com/Open-MSS/MSS/pull/679/files

[2021-02-20 16:12] ahelii16 commented on #680
I will rewite the remaining tests for #639 also after that

[2021-02-20 22:38] ReimarBauer opened #681 "refactoring of mscolab tests"
the mscolab tests needs a refactoring for faster execution, if possible executed by pytest-xdist.
This is not mandatory. A first step is to setup a framework that generates users and data on the fly and start fresh for each test to remove dependency.

By my (Reimar) current refactoring based on the existing tools I'm not sure if it ever will work perfect with xdist. But trying with that also shows

[2021-02-20 22:43] ReimarBauer commented on #680
I'd seen that pycharm testing has some differences to the call on the terminal. I try alternatives for the same result.

[2021-02-22 08:28] ReimarBauer commented on #681
We have a lot of dependencies that have to be taken into account

For the scope loadfiles or in general

Tests must not have any dependencies to other tests especially:

- use new sockets for each test
- use new ports
- reinitialize databases, or teardown added data

[2021-02-22 08:56] Marilyth opened #682 "Testing should update development.txt modules if they differ"
Currently only meta.yaml is checked for differences with the testing image.
This should also be done with development.txt to ensure the tests run on potential new or downgraded modules needed for testing.

This issue recently came to light in #679

[2021-02-22 09:00] ReimarBauer opened #683 "config_loader ignores local mss_settings.json"
Likly with the refactoring of the config_loader the initialising of a mss_settings.json was removed.
This needs a review and also tests to cover this behaviour

[2021-02-23 07:56] Marilyth commented on #662
All GitHub Actions now reference openmss instead of yourmss.
What exactly do you mean with `and also the site for official releases needs to be updated`?
@ReimarBauer

[2021-02-23 15:28] #628 closed, assigned to ReimarBauer

[2021-02-23 15:33] ReimarBauer commented on #658
We moved to https://hub.docker.com/orgs/openmss/repositories

so we should only have one place where we manage/develop Dockerfiles
This is https://github.com/Open-MSS/dockerhub/

[2021-02-23 15:37] ReimarBauer commented on #662
some of our docs needs changes too, e.g.

- https://mss.readthedocs.io/en/stable/docker_based_installation.html
- https://open-mss.github.io/develop/docker_images

that likly can become good first issues

[2021-02-23 17:26] ReimarBauer opened #685 "update documentation to repositories of hub.docker.com/orgs/openmss/"
docs/docker_based_installation.rst needs to be updated to the stable repository of hub.docker.com/orgs/openmss/

[2021-02-23 17:29] ReimarBauer commented on #685
Another location which needs a similar change
https://github.com/Open-MSS/Open-MSS.github.io/blob/gh-pages/docs/develop/Docker.md

[2021-02-23 17:31] ReimarBauer commented on #662
added a seperate issue for the follow ups
https://github.com/Open-MSS/MSS/issues/685

[2021-02-23 17:31] #662 closed, assigned to Marilyth

[2021-02-26 07:58] ReimarBauer opened #689 "based on conda-forge only"
We should check if we can be based on conda-forge channel only.

Because of ours and many others automated setups we use some much bandwidth of anaconda. That had recently  forced a change in the terms of service.

The mamba org works on sustainablilty of the open-source ananconda conda-forge channel and  there will be mirrors in the future.

[2021-02-26 11:28] #682 closed, assigned to Marilyth

[2021-02-26 11:28] #669 closed, assigned to Marilyth

[2021-02-26 11:56] #530 closed, assigned to ReimarBauer

[2021-02-26 11:56] #680 closed, assigned to ReimarBauer

[2021-02-26 11:57] #665 closed, assigned to ReimarBauer

[2021-02-26 13:36] #683 closed, assigned to ReimarBauer

[2021-02-27 15:48] ReimarBauer opened #693 "testing - mock Loader.load of de421.bsp"
For the  mslib/msui/_tests/test_topview.py::Test_MSSTopViewWindow::test_open_rs we should not load always de421.bsp

just use a part or similar data

[2021-02-27 20:02] #643 closed, assigned to nobody

[2021-03-01 19:32] SagarBapodara commented on #644
Hey, @ReimarBauer is the issue still open? I would like to give try it.

[2021-03-02 08:05] SagarBapodara commented on #607
Hey @ReimarBauer, I would like to work on this issue, but could you please describe it more in detail about the issue? It would be great if you could add the link also.

[2021-03-02 09:39] gisi90 opened #694 "Descriptive titlestring not added in vertical sections (missing in mpl_vsec.py _latlon_logp_setup)"
Just realized that descriptive title string is no longer added in vertical sections. Looks look some lines are missing in mpl_vsec.py when compared to the older version:

old version:
![grafik](https://user-images.githubusercontent.com/54586339/109628694-55f3d300-7b43-11eb-9181-f498f3cca1be.png)

new version:
![grafik](https://user-images.githubusercontent.com/54586339/109628741-660bb280-7b43-11eb

[2021-03-02 09:56] ReimarBauer commented on #607
At the moment you have started mscolab or the wms service it does provide a simple web site. The development server mswms.py does on  http://127.0.0.1:8081/ mscolab development server on http://127.0.0.1:8083
see [Setup Instructions](https://open-mss.github.io/develop/Setup-Instructions)

The content of the pages is located in the repository https://github.com/Open-MSS/MSS/tree/develop/mslib/stati

[2021-03-02 14:03] joernu76 commented on #694
Related to issue (and fix) #162

[2021-03-02 14:11] joernu76 commented on #694
A current plot of stable MSS-UI and the SouthTrac server looks like this:
![image](https://user-images.githubusercontent.com/28449201/109660255-f01a4200-7b68-11eb-8524-bd2a3631656d.png)

There is a title (by UI) above the layer. The box within the layer has been removed because it was redundant to the title. There were never boxes for horizontal plots. There is more discussion in #162, but I think

[2021-03-02 14:30] gisi90 opened #695 "Check that each dimension has a coordinate dimension (netCDF4tools.py): allow to skip for vars in skip_dim_check"
When grib-files of parameters on model-levels (ml) of ECMWF are converted to necdf using cdo, there are 2 additional dimensions (nhyi, nhym) without having a coordinate variable.  The "check that each dimension has a coordinate dimension" in netCDF4tools.py fails for such files because this "check" does not ignore dimNames in skip_dim_check. Adding skip_dim_check worked for me.

`# Check that each

[2021-03-02 14:47] gisi90 commented on #694
Ah, ok. First, I thought it was removed on purpose but then I saw that the box is still there for the horizontal plots  in the lower left corner?

I agree that there is no point in adding the same information twice. It's just that the Layer-name in the selection is the same as the title outside of the box and if more than 2 variables are plotted (e.g. addition T and Theta, CIWC, CLWC) we used to a

[2021-03-02 15:03] joernu76 commented on #694
There is also a "description" for plots, where you can put arbitrary text in. This is severly underused.... See the box in the lower left corner of my figure.
For complex plots of mine, I put a proper "paper-like caption" into the "abstract" and it appears in said box.

It is always possible to put arbitrary stuff *within* the plotting class, as happens for some of Marcs old HSEC plots (not sure a

[2021-03-02 17:08] gisi90 commented on #694
Yup, makes sense and thanks for pointing to the description window. For the horizontal plots, the box was moved to the styles as you said (this is why I still have them). So the whole titlestring-thing/plot title can be removed from _latlon_logp_setup. It then only needs orography as input.

[2021-03-02 18:22] joernu76 commented on #694
I'll prepare a merge request doing that and moving some title stuff to the abstract.

[2021-03-02 20:14] joernu76 opened #697 "flake8 CI test does not work"
There are currently a lot of flake8 errors, but the CI passes.
See e.g. log of
https://github.com/Open-MSS/MSS/pull/696/checks?check_run_id=2016502557
A review for other non-fails should be performed.

[2021-03-02 20:15] joernu76 commented on #697
I assume that the flake8 errors need to be fixed in the same merge request as the action change...

[2021-03-02 21:55] Marilyth commented on #697
The flake8 checks were explicitly set up never to fail with `--exit-zero` by @ReimarBauer
Was there no reason to include this argument?

[2021-03-02 22:35] open-mss-build commented on #697
Argh, that was from the beginning wrong

[2021-03-03 00:00] joernu76 commented on #697
Mmh. Wrong assignee then ;-)

[2021-03-03 07:13] Marilyth commented on #697
This might also be a good time to delete flake8.yml, as it is effectively a more restrictive copy of python-flake8.yml

[2021-03-03 16:11] #697 closed, assigned to ReimarBauer

[2021-03-03 16:40] #694 closed, assigned to joernu76

[2021-03-04 07:30] ReimarBauer commented on #695
@gisi90 a PR of this change to stable branch, is welcome :)

flake8 will find the missing blank
```dimName, master```

[2021-03-04 07:34] #685 closed, assigned to nobody

[2021-03-04 07:36] ReimarBauer commented on #650
In the PR is the changed UI file missing

[2021-03-04 07:42] ReimarBauer commented on #644
@SagarBapodara @risehr is working on this.

[2021-03-04 08:42] nakul-shahdadpuri commented on #650
@ReimarBauer I think I forgot to commit the ui file. I did that now. Sorry.

[2021-03-05 07:10] ReimarBauer opened #706 "no data within the margins -> sideview with demodata crashes -> improve error message"
![demodata_problem](https://user-images.githubusercontent.com/278728/110079767-cd1aa880-7d89-11eb-8ae7-fcf7d56c17c5.png)

[code]

[2021-03-05 07:14] Marilyth commented on #706
As far as I know this is because there is no data within the margins.
If the waypoints are changed to where there is data for the layer, the error disappears.
Non the less this is unwanted behaviour.

[2021-03-05 07:59] ReimarBauer commented on #706
I remember, yes that's it. we should add a hint that this is the reason.

[2021-03-05 14:27] Marilyth commented on #357
For reference, an easy way to test a WMS server is as follows:
1. `docker run --network host --rm ogccite/ets-wms13`
2. Visit http://localhost:8080/teamengine/viewSessions.jsp in your browser
3. Log in with user and password `ogctest`
4. Set up and run the tests

[2021-03-06 14:31] #695 closed, assigned to joernu76

[2021-03-06 15:35] ReimarBauer opened #708 "mkl undefined symbol issue after upgrade"
For documentation purposes

In one of our servers I ran into a mkl problem during the update. It was solved by a `mamba update --all`

MSS              : symbol lookup error: .../miniconda3/envs/demo/lib/python3.7/site-packages/mkl/../../../libmkl_intel_thread.so: undefined symbol: omp_get_num_procs

[code]

[2021-03-06 15:44] ReimarBauer commented on #708
update procedure was

[code]
in the first mamba update all it fetched mss==2.0.0
unfortunately it was not the newest build

[2021-03-07 09:52] #650 closed, assigned to nakul-shahdadpuri

[2021-03-08 07:49] ReimarBauer opened #711 "SQLAlchemy database use fs"
we could maybe simple connect the database from a container to a different location by fs
https://github.com/rkhwaja/sqlalchemy-sqliteupload

[2021-03-09 13:31] nakul-shahdadpuri commented on #673
@ReimarBauer can I take this up?

[2021-03-10 07:31] Marilyth commented on #609
Seems to be happening because it is trying to draw a coastline where none is.
I am not sure if this isn't something Basemap should handle themselves though.
I will fix this for the time being.

[2021-03-10 07:42] Marilyth commented on #706
Should the error still happen but with a better message, or should it be ignored entirely and draw an empty map?

[2021-03-10 07:47] Marilyth commented on #204
When I request a level that does not exist, e.g. 478.0 when both 500.0 and 400.0 exist, the server throws the exception
`Error message: 'Requested elevation not available.' `
Am I missing something, or was this fixed already?

[2021-03-10 07:50] Marilyth commented on #252
Is there an easy way to reproduce this issue? Everything seems fine on my end.

[2021-03-10 08:19] ReimarBauer commented on #204
Please check if we have a test which asserts the exception. A test is welcome so that we don't get it wrong again.

[2021-03-10 17:38] SagarBapodara commented on #607
Yes, well these are static pages with content, & I do not think there is any dynamic functionality attached, can't we combine everything into 2 files only, one for content & the other for styling? We can use HTML, CSS, Bootstrap & JS for that. Doing this, in my opinion, would allow us to have better functionality as well as better formatting of the content as well :). Would like to know your thoug

[2021-03-11 07:11] #609 closed, assigned to Marilyth

[2021-03-11 07:29] iamansoni commented on #659
I would like to work on this task, you can assign it to me!
Also, I wanted to know for which particular file `main()` functions tests are to be written?

[2021-03-11 07:35] ReimarBauer commented on #279
We could verify availability of the host.
[code]

[2021-03-11 11:51] #639 closed, assigned to ahelii16

[2021-03-11 12:20] ReimarBauer opened #713 "simplify and optimise ports of tests"
for xdist we need a lot ports. The ports are defined in each module. This needs always a change with a new test.

We should have one range and one place to edit that. But on default it should be large.

[2021-03-11 14:10] aravindm711 commented on #636
Hey @ReimarBauer, can I work on this issue?

[2021-03-12 10:23] Marilyth commented on #429
While easily possible with my multilayering PR, it was discussed that this feature does not have many use cases and makes the application too difficult to handle.
If however this is still wanted later on, it will be an easy implement.

[2021-03-12 12:45] ReimarBauer opened #714 "conftest on windows has problems with backslashes"
Also our conftest is not optimal currently for windows we found a dependency we asked for help on pyfilesystem2

https://github.com/PyFilesystem/pyfilesystem2/issues/454

[2021-03-12 13:54] SagarBapodara commented on #607
Yes, on mobile navigation & logo is does not show up. But what I get is that these are standalone pages, or are these pages serving any dynamic content from the backend? as I could not find any.

[2021-03-13 19:25] aravindm711 commented on #638
I have been assigned to issue #636 and since this is a similar issue, can i provide the fix?

[2021-03-14 08:13] ReimarBauer commented on #706
The message is understandable if readed. Because of the dense text I usually see first

"Error Message: cannot ..."

For such problems usually a HINT message is useful.

"Error Message: cannot ..."
"Hint: Check used waypoints"

[2021-03-14 09:08] #636 closed, assigned to aravindm711

[2021-03-14 09:41] ReimarBauer commented on #607
We have all dynamic content access by the QT gui. The web page itselfs is very static. Currently it gives a brief information about the service MSS. If someone wants an other styling or different templates that can currently only done by mocking.

Our usecase to access this data for planning scientific flight pathes is to be able to do this in an environment where we have a very low internet bandw

[2021-03-14 09:56] aravindm711 commented on #638
Since the existing implementation for chat upload feature gets both file_path and file_name as return value from the qt filedialog https://github.com/Open-MSS/MSS/blob/stable/mslib/msui/mscolab_project.py#L237, but https://github.com/Open-MSS/MSS/blob/stable/mslib/msui/mss_qt.py#L78 only returns the file_path. It makes sense to use getOpenFileNameAndFilter method from fslib.fs_filepicker module. D

[2021-03-14 14:45] ReimarBauer commented on #252
Can't reproduce too. Just seen that we have different states of functions activated in multiple windows. E.g. one has + waypoints the other - waypoints.
@joernu76 have you more details?

[2021-03-14 14:47] #429 closed, assigned to Marilyth

[2021-03-14 18:26] ArchishmanSengupta opened #719 "Adding commands/Making changes in documentation of README file / development docs"
# Currently the README of installation of the ``branch: develop`` is this:
![issue7](https://user-images.githubusercontent.com/71402528/111079171-c2e17280-851e-11eb-983e-610086fc1d97.png)

i propose to add documentation of forking the repo and adding it before ``Installation MSS`` guide.

The documentation will then look like 👍🏼

## 📌 Prerequisites

### 💻 1. System requirement :

1. Any system wit

[2021-03-15 05:10] aravindm711 commented on #626
Hey @ReimarBauer , can I take up this issue?

[2021-03-15 09:04] aravindm711 commented on #586
should the api endpoint and all its references be changed to 'get_project_by_id' or just the method involved? @ReimarBauer

[2021-03-15 13:51] ReimarBauer commented on #586
Yes, that's is better readable.

[2021-03-15 16:00] #714 closed, assigned to ReimarBauer

[2021-03-16 05:35] aravindm711 commented on #632
what email-id are we sending the mail from? @ReimarBauer

[2021-03-16 06:54] ReimarBauer commented on #632
this needs be configurable. It is not a general email-id. We could do it similar to http://moinmo.in/HelpOnConfiguration/EmailSupport
and add this to the mscolab_settings

[2021-03-17 07:13] aravindm711 commented on #200
Hey @ReimarBauer does this redesign look good? https://imgur.com/CkYjQ1a

[2021-03-17 07:47] ReimarBauer commented on #200
@joernu76 and/or @Marilyth have a look please

[2021-03-17 08:25] Marilyth commented on #200
It looks fine to me, though I am not the best to judge that.
A few little things bother me design wise, like the field next to `take off time` is shifted a few pixels to the right compared to `take off weight`, `Aircraft:` is not in line with `Fuel`. Generally I am not sure I like the placement of `Aircraft` in pure aesthetics.

Another thing that bothers me on a very personal level is the use of

[2021-03-17 08:42] #3 closed, assigned to Marilyth

[2021-03-17 08:42] #159 closed, assigned to Marilyth

[2021-03-17 09:02] ReimarBauer opened #722 "verify newer sqlalchemy >=1.4.0 and sqlite >= 3.35.1 to work with MSS"
We have currently a fixation in our build scripts because of changes in sqlalchemy and sqlite

This needs to become resolved

[2021-03-17 10:53] aravindm711 commented on #200
I have fixed the alignment issues from the previous redesign. https://imgur.com/a/cHqPveW Could you please take a look? @Marilyth.

[2021-03-17 13:32] aravindm711 commented on #200
I have rethought the placement of the widgets and fixed the alignment issues from the previous redesign. @Marilyth could you please take a look at this? https://imgur.com/z1KeDtP

[2021-03-17 13:51] Marilyth commented on #200
I definitely like that one better.

I wonder if the Cancel and OK buttons can be cut, now that it is a dockwidget.
Though I am not well aware of how MSS is being used in practice, so any further deviations from what is already there should be discussed with @joernu76 or @ReimarBauer

[2021-03-17 15:51] aravindm711 commented on #200
Thank you for the feedback @Marilyth.

It'd be great if I could get some feedback on what to improve on the proposed redesign @joernu76 @ReimarBauer. ( https://imgur.com/z1KeDtP )

[2021-03-18 08:33] joernu76 commented on #200
I like the new widget. The OK/Cancel buttons do not make sense anymore as the widget is not "blocking" anymore.
Instead, all other widgets need to be updated now after any change within this widget in contrast to previously, where this was only necessary upon pressing the "OK" button.

[2021-03-18 11:20] Aut0R3V commented on #658
\assign

[2021-03-18 11:23] Aut0R3V commented on #658
Hi I'd like to work on this. What I've understood is that the files on https://github.com/Open-MSS/dockerhub need to be removed since they are no longer required. @ReimarBauer Please tell if this is right.

[2021-03-18 12:04] aravindm711 commented on #200
thank you for the feedback @joernu76. I'll look into how i can implement this by removing OK/Cancel buttons and updating other widgets automatically.

[2021-03-18 18:34] joernu76 opened #724 "Iteration of multilayering"
1) When selecting the multiplayering tickbox, the priority column should always be visible (less confusing context changes)
2) The priority column and the styles column overlap. Perhaps move the priority column to the front?
3) The Layer-Selection Dialogue should not "retrieve" maps, just "select" them....? I am unsure about this.
4) Switching from one layer to another should keep the previous ini

[2021-03-18 19:56] ReimarBauer commented on #658
This is a misunderstanding. We have an old version in the repository, see https://github.com/Open-MSS/MSS/tree/develop/dockerfiles

This was moved to the new project but not removed from the repository.

[2021-03-19 10:55] joernu76 commented on #719
Hi, good idea!

Some comments.
1) The Readme.md should stay brief and is currently addressing "users" in stead of developers. The documentation you outlined would enhance  https://github.com/Open-MSS/MSS/blob/develop/docs/development.rst greatly! As such I propose to add your github/fork/etc. documentation to that rst-file.
2) I am unsure if we should add figures as these create a larger maintenan

[2021-03-19 14:52] bkirbus opened #726 "Set semi-transparent background to colorbars"
For **horizontal views**, a fully white or semi-transparent white **background behind the colorbar** would be nice.
* Thus, it is easier to read all labels, title, etc. on the colorbar
  * Especially in cases where the maps in the background become very "noisy"

[2021-03-19 15:27] joernu76 commented on #726
The HS_GenericStyle in mslib/mswms/mpl_hsec_styles.py provides a white background behind the colorbar labeling, which solves this issue in an elegant way (by adding a path effect to the labels).

This solution should be applied to all plotting classes in mslib/mswms/mpl_hsec_styles.py

[2021-03-19 15:42] joernu76 opened #727 "crash in mscolab on development"
Was just playing around with a fresh mscolab server.
Created a user, logged in, double-clicked the new project/flight track
[code]

[2021-03-19 19:44] ArchishmanSengupta commented on #719
alright. will keep these things in mind. Actually i am unable to use the IRC Channel. Is there any other way i can keep in touch with you/other maintainers?

[2021-03-20 13:02] joernu76 commented on #719
The Slack-System *should* be usable wherever you have access to a browser? If that doesn't work, the second best option (and a good option anyway) is to keep the discussion contained in this issue.

[2021-03-20 13:22] ArchishmanSengupta commented on #719
can you share me the link of the slack channel which will be used during the gsoc 21 period for this project? @joernu76

[2021-03-20 13:59] joernu76 commented on #719
@ReimarBauer knows this better, but I believe that we are currently use
https://mss-devel.slack.com/archives/CSL13ATK7
for gsco preparation. There will be a project dedicated channel once we have funding.

[2021-03-20 14:13] ReimarBauer commented on #719
Hi @aravindm711 please send a mail to mss-info@fz-juelich.de, see also, first section ;)
https://open-mss.github.io/contributing/

You get an invite link by me.

[2021-03-20 15:23] ArchishmanSengupta commented on #719
hey @ReimarBauer I have sent the email to mss-info@fz-juelich.de. kindly have a look. Thank you

[2021-03-20 17:58] ArchishmanSengupta commented on #719
hey @joernu76 after i add the necessary changes mentioned in the issue, will i add the (https://github.com/Open-MSS/MSS/blob/develop/docs/development.rst ) link in the readme?

[2021-03-21 11:15] joernu76 commented on #719
Sounds reasonable that we provide links to the built version of our documentation for further reading.
Here
https://mss.readthedocs.io/en/stable/
is the web-server with the built documentation and this
https://open-mss.github.io/
is a new set of pages added by Reimar. @ReimarBauer , what would be the appropriate system at the current point in time...? And is the new set pf pages based on the RST f

[2021-03-22 20:32] ReimarBauer commented on #727
Hi @joernu76
I do have problems to reproduce your error. The steps I did:
- python mslib/mscolab/mscolab.py  db --init
- python mslib/mscolab/server.py
- connected the url
- created user / logged in
- added project
- double clicked project
- selected topview

[2021-03-23 07:45] joernu76 commented on #727
I didn't try to replicate it, but it crashed already with the double-click.
I tried to replicate now but couldn't.
Would something I did before locally influence this? The error seems related with getting the "fresh" flightpath data from the mscolab server.

[2021-03-23 08:23] ReimarBauer commented on #727
Our testframework did what you've done manually several times a day.

I can only guess now. I assume you lost the connection to the server and this was not indicated.

To investigate this further first a test for several connection states is needed.

[2021-03-23 08:25] joernu76 commented on #727
Shouldn't happen in any case. Can one simply catch the Exception in the code at that place to handle that more gracefully?
A full client crash is not what we want in any case.

[2021-03-23 08:27] ReimarBauer commented on #727
First is to have a test which can trigger that. That gives a better understanding what is needed or could be done. I look into this.

[2021-03-23 14:35] joernu76 commented on #727
I was using 2.0.0 instead of 2.0.1 because I was not delivered the most recent release by conda.

[2021-03-23 14:35] #727 closed, assigned to ReimarBauer

[2021-03-23 14:49] joernu76 opened #730 "MSS Config Editor does not properly close"
When the config editor was opened, a reference to the editor is stored in the main GUI, which is not removed upon destruction of the editor. When the main GUI is closed, the Editor is thus closed again, in some, fashion, which causes another "are you sure..." dialog to be presented to the, confused, user.

The Configuration Editor should be blocking and provide an option to restart the GUI when th

[2021-03-23 15:00] ReimarBauer opened #731 "display canonical version string on installed version"
Sometimes it is useful not only to talk about MSS versions, seeing which build it is can be better

We should find an easy way to show a string similar to this in the help info of the gui

[code]

Some problems may occure because the package was installed in the little time frame some library was updated and we have not created a new build.

If I would see this string and together a bug report wit

[2021-03-24 07:46] ReimarBauer commented on #731
the version string can  be retrieved by
glob.glob(sys.prefix + '/conda-meta/mss-*')

And if the json file is not defined, we likly have a developer installation.

We could show something about the repo
[code]

[2021-03-24 11:32] #724 closed, assigned to Marilyth

[2021-03-24 12:42] ReimarBauer opened #733 "QT Version mismatch between different OS"
We recognized today that we get on windows on a fresh installation
- pyqt 5.12.3
- qt 5.12.9

and on linux
- pyqt 5.9.2
- qt 5.9.7

ui files using  QSpinBox with the 5.12.x designer created have an attribute StepType
 the conversion to the pyui has than an Attribute setStepType which does not exists in older versions.

[code]
because setStepType was introduced in [Qt 5.12 ](https://doc.qt.io/qt-5/

[2021-03-24 12:52] ReimarBauer commented on #733
A downgrade on windows to the lower version shows not any conflicts.

Upgrade on linux to 5.12.9 shows a lot conflicts:

[code]

[2021-03-24 13:16] nakul-shahdadpuri commented on #633
Hey @ReimarBauer can I take this up?

[2021-03-24 13:38] ReimarBauer commented on #733
Because this is a change to the installation procedure I move this to development.
Once conda-forge is the main this is solved

pyqt                       5.12.3  py39hf3d152e_7          conda-forge/linux-64      21 KB
qt                         5.12.9  hda022c4_4              conda-forge/linux-64     100 MB

https://github.com/Open-MSS/MSS/issues/689

[2021-03-24 13:47] joernu76 opened #734 "MSCOLAB Add project dialogue has strange location for selected filename"
Adding an existing file as a project shows the name of the file in the description box.

[2021-03-24 13:52] joernu76 opened #736 "Dock-widgets in TableView prevent TableView from closing upon application exit"
Steps to reproduce the problem:
1) Open a TableView
2) Open a dock widget
3) "Quit" the MainWindow
Expected Outcome:
4) All windows close
Outcome;
4) TableView window remains visible.

The TopView has dockwidgets that work in this regard. One should be able to transfer the proper handling from TopView to TableView.

[2021-03-24 21:37] ReimarBauer opened #737 "working with same accounts on one server does not update project list"
at least during development I get to this. It may not a common use case.

I can create with two MSS clients using the same login details projects and they were not get visible on each other until I toggled login/logout.

This can be by design, have to check this with different systems before we start to work on this.

[2021-03-25 09:14] joernu76 opened #738 "Acknowledgement"
Ask people using MSS for scientific uses to put MSS into their paper acknowledgements.
(Documentation update)

[2021-03-25 19:51] ReimarBauer opened #739 "libgcc_s.so.1 must be installed for pthread_cancel to work"
The error message and also the coredump happens sometimes random when I try to install mss on a remote system.

I had that also seen before with a docker container

sometimes it creates a lock
~/.cache/matplotlib/fontlist-v330.json.matplotlib-lock

There are various discussion about this problem on the net:

- https://bugs.python.org/issue42888
- https://github.com/ContinuumIO/anaconda-issues/issu

[2021-03-25 19:52] ReimarBauer commented on #689
This will solve this too:

https://github.com/Open-MSS/MSS/issues/739

[2021-03-26 08:05] #734 closed, assigned to joernu76

[2021-03-26 08:05] #730 closed, assigned to joernu76

[2021-03-26 08:15] #644 closed, assigned to risehr

[2021-03-26 08:19] #681 closed, assigned to ReimarBauer

[2021-03-26 08:21] ReimarBauer commented on #708
was adressed and solved in mamba :)

[2021-03-26 08:21] #708 closed, assigned to nobody

[2021-03-29 07:47] ReimarBauer opened #743 "remove pyvirtualdisplay"
We want to use only xvfb-run  on *nix systems, because this is already with xvfb installed.
This needs changes in docs, requirements.d/development.txt and test actions

[2021-03-29 07:50] #626 closed, assigned to nobody

[2021-03-29 08:00] #638 closed, assigned to aravindm711

[2021-03-29 10:43] ReimarBauer commented on #471
partly adressed with https://github.com/Open-MSS/MSS/pull/663

[2021-03-29 10:46] ReimarBauer commented on #480
This needs a review if it is with the mentioned PR solved

[2021-03-29 11:02] #586 closed, assigned to nobody

[2021-03-29 11:52] ReimarBauer commented on #371
once this is needed reopen this

[2021-03-29 11:52] #371 closed, assigned to nobody

[2021-03-29 14:28] #689 closed, assigned to ReimarBauer

[2021-03-29 14:28] #733 closed, assigned to nobody

[2021-03-30 08:58] nakul-shahdadpuri opened #745 "Fix Docs in Setup Instructions"
In the [setup instructions](https://open-mss.github.io/develop/Setup-Instructions) for creating demo data for MSWMS, the documentation says to run
[code]
However, --create is not a recognized argument,
[code]
should be used to create demo data, and the documentation may be updated.

[2021-03-30 09:43] ReimarBauer commented on #745
Thx for finding this, that was not included in the PR

https://github.com/Open-MSS/MSS/pull/654

[2021-03-30 12:26] #739 closed, assigned to nobody

[2021-03-31 06:57] Marilyth opened #747 "Syntax error in meta.yaml"
Our develop docker image is currently failing because there is a space in the version specification of the meta.yaml for sqlite and sqlalchemy.

https://github.com/Open-MSS/MSS/blob/228a7ff34aca56671db0404c2f167a63dda2966f/localbuild/meta.yaml#L75
https://github.com/Open-MSS/MSS/blob/228a7ff34aca56671db0404c2f167a63dda2966f/localbuild/meta.yaml#L76

[2021-03-31 07:08] ReimarBauer commented on #747
oh, I assume that got in through a merge from stable. So in stable that is likly also wrong.

the syntax for this is one blank after the module name and no blank after the operator.
currently looking for a good linter test

[2021-03-31 07:30] ReimarBauer opened #749 "take care of url prefix like SCRIPT_NAME"
Some of the server setups use SCRIPT_NAME

Sometimes this prefix is ignored.

[2021-04-02 14:36] #747 closed, assigned to Marilyth

[2021-04-05 21:59] risehr commented on #736
Hi @joernu76  @ReimarBauer ! I have solved this issue. Tests also passed. I have send a PR to develop.

[2021-04-06 06:19] ReimarBauer opened #755 "update copyright year 2020 to 2021"
update of all our copyright strings

if noone grabs this I do this before the next release

[2021-04-06 11:08] Jatin2020-24 commented on #755
@ReimarBauer Please review PR, I have updated copyright year.
Thank you

[2021-04-07 13:50] joernu76 opened #760 "Exception "_auth_delegate" attribute error when accessing password protected servers"
See
https://github.com/geopython/OWSLib/issues/762

Workaround: install owslib version 0.21 (0.22 does not have this error, but was *very* quickly replaced by 0.23)

[2021-04-07 14:38] ReimarBauer commented on #760
intermediate solution by a build fixation for owslib.
https://github.com/conda-forge/mss-feedstock/pull/90

[2021-04-07 15:26] ReimarBauer commented on #755
@Jatin2020-24 there are a few 2020 replaced by 2021  which should be 2020-2021

I changed the milestone, so develop PR is fine.

[2021-04-07 17:02] #755 closed, assigned to nobody

[2021-04-07 17:25] #749 closed, assigned to ReimarBauer

[2021-04-07 17:29] ReimarBauer opened #761 "dataaccess units problems"
we found issues with convertion of units in our generic plotstyles

[2021-04-07 17:31] Marilyth opened #762 "mss-dev docker image is failing"
About a week ago the develop docker images began to fail due to a bus error, as can be seen [here](https://github.com/Open-MSS/dockerhub/runs/2288875615?check_suite_focus=true).
A workaround I found was to downgrade pyqt and qt from 5.12 to 5.9. The image is not failing anymore as can be seen [here](https://github.com/Marilyth/dockerhub/runs/2289510813?check_suite_focus=true).
The testing image on

[2021-04-07 17:31] #761 closed, assigned to joernu76

[2021-04-07 17:32] #736 closed, assigned to nobody

[2021-04-08 11:18] joernu76 opened #764 "get capabilities does not visibly block the interface"
Using get capabilities currently blocks the UI. This is not apparent. There should be a blocking message box or similar (potentially including a Cancel button) indicating this. Currently, one may click around without effect until the capability document was retrieved.

[2021-04-08 11:31] joernu76 opened #765 "The new layer selection dialog should be closeable with Ctrl+W just as the other windows."

[2021-04-08 12:03] ReimarBauer commented on #764
similiar to https://github.com/Open-MSS/MSS/issues/222

[2021-04-08 18:27] ReimarBauer opened #768 "persistence if set self.app.config['SERVER_NAME']"
the problems I had today after the merge was in test_server by setting in the test setup

self.app.config['SERVER_NAME'] = self.url.strip('http://')

this created a lot failing tests, e.g. test_socket failed

I assume the xdist tests have not run in this because they were  distributed over several processes

We should do a code review for config settings in tests.

[2021-04-09 06:47] ReimarBauer opened #769 "building 2.0.3 for python 3.9"
For linux the py 3.9 package is missing
mss==2.0.3 -> python[version='>=3.6,<3.7.0a0|>=3.7,<3.8.0a0|>=3.8,<3.9.0a0']

[2021-04-09 07:06] ReimarBauer commented on #769
2.0.2-1 has the same package fixations and is for python 3.9 avalaible
I try a 2.0.3-1 next

[2021-04-09 08:59] ReimarBauer commented on #769
![builded_1](https://user-images.githubusercontent.com/278728/114156161-9143a780-9922-11eb-93a7-ca5780f348ff.png)
PR send

[2021-04-09 09:40] joernu76 opened #770 "Requesting problematic layer gives strange error message"
Requesting the "DYN wind barbs" layer from the SouthTrac server on current develop gives a strange error message:
`ERROR:
<class 'requests.exceptions.HTTPError'>
404 Client Error: Not Found for url: https://forecast.fz-juelich.de/index`

LOG:
[code]
I will investigate on the backend, but that the frontend contains an "index" in the error message is strange.

[2021-04-09 11:00] joernu76 commented on #770
@ReimarBauer
Der Flask-Server zeigt das hier:
[code]
Der Apache ist wie immer stumm. Das muss sich mal ändern!
Im Frontend würde ich aber eine Service Exception erwarten, keinen index not found error???

[2021-04-09 11:01] joernu76 commented on #770
Ah, deswegen:
[code]
Warum macht der Server bei einem unerwarteten den redirect auf /index???

[2021-04-09 11:08] joernu76 commented on #770
This change causes the "problem":
[code]

In case of an unknown Server Error, we may not want to display internal stuff to the user, but we should indicate that it *is* an internal server problem and not redirect to index.

[2021-04-09 11:44] ReimarBauer commented on #770
Wait for 2.0.3 :)

unfortunately there was yesterday no build for py 3.9

I guess it is still needs a similar fix

[2021-04-09 12:32] Marilyth commented on #624
As this seems to be happening for some other tests as well, I will keep a list of all I find.
Another, more rare occurrence is test_get_message. Which last happened on the docker images on March 3rd.
https://github.com/Open-MSS/dockerhub/runs/2023839225?check_suite_focus=true
https://github.com/Open-MSS/MSS/blob/09b1fd1e665037048afaa991d0f83d1a38d5be88/mslib/mscolab/_tests/test_chat.py#L143

[2021-04-09 12:57] joernu76 commented on #770
The problematic exception handling is just as this in current stable *and* develop, so how will 2.0.3 change this?

I do not fully understand the intent of f27929dbb though. It certainly interferes with the core functionality of client-server communication.

[2021-04-09 13:32] ReimarBauer commented on #770
the redirect was removed. that was a mistake.  We destinguish between call with parameters and without.

I agree to add an error message back

[2021-04-09 14:53] joernu76 opened #771 "Vertical interpolation in generic plots is not taking unit conversion into account for pressure"

[2021-04-09 15:02] ReimarBauer commented on #769
done

[2021-04-09 15:02] #769 closed, assigned to nobody

[2021-04-09 15:29] #771 closed, assigned to joernu76

[2021-04-09 15:31] #764 closed, assigned to Marilyth

[2021-04-11 09:54] ReimarBauer opened #775 "link to github changes from the help-about incorrect"
the link to the milestone for the release from the gui is not correct

[2021-04-11 10:40] ReimarBauer commented on #261
was solved in 1.6 and we had no new issue with the current solution

[2021-04-11 10:40] #261 closed, assigned to nobody

[2021-04-11 10:54] #200 closed, assigned to nobody

[2021-04-11 10:57] #204 closed, assigned to nobody

[2021-04-11 10:58] #222 closed, assigned to nobody

[2021-04-11 11:17] ReimarBauer opened #777 "disable retrieve on no layer"
![block_retrieve](https://user-images.githubusercontent.com/278728/114302120-f5ec3700-9ac7-11eb-9275-1e04f622c4ce.png)

because of retrieve can't use a server it crashes by
[code]

Somehow I got the UI to enable that button. Currently I try to reproduce this, so that I can describe this path.

[2021-04-11 11:30] ReimarBauer commented on #777
It gets enabled, when once a layer got unselected and next get capabilities is clicked
![no_layer_retrieve_on](https://user-images.githubusercontent.com/278728/114302595-ff769e80-9ac9-11eb-8b98-a20baab6de4e.gif)

[2021-04-11 11:36] ReimarBauer commented on #273
We added a different solutions by the Server/Layer popup

[2021-04-11 11:36] #273 closed, assigned to nobody

[2021-04-11 11:39] ReimarBauer commented on #327
if that is needed create a specific issue.

[2021-04-11 11:39] #327 closed, assigned to nobody

[2021-04-11 14:14] #770 closed, assigned to ReimarBauer

[2021-04-11 14:15] #775 closed, assigned to ReimarBauer

[2021-04-12 08:29] joernu76 commented on #252
Issue seems fixed.

[2021-04-12 08:29] #252 closed, assigned to nobody

[2021-04-12 10:04] joernu76 commented on #765
I admire the problem with the non-triggering actions. One might hack this for the upcoming release:
[code]
The dialogue can be closed with "ESC", btw, which also rejects the dialogue. It is IMO not obvious that this is a dialogue, because it is not modal and has no OK/CANCEL/etc buttons. Maybe it should be derived from MainWindow instead...?

[2021-04-12 10:12] joernu76 commented on #765
This here is probably better:
[code]

[2021-04-12 10:12] joernu76 commented on #765
Would still be interesting to know why the "standard way" does not work.

[2021-04-12 11:49] Marilyth commented on #765
Thanks for looking into this yourself.
The reason shortcuts aren't working seems to me that actionCloseWindow is never actually added to the dialog, and I am not sure why. Maybe I am using Designer wrong?
So basically this line is missing in ui_wms_multilayers.ui:
`<addaction name="actionCloseWindow"/>`
Adding it manually is making it work again.

[2021-04-12 12:11] joernu76 commented on #765
Mmh. I had no luck doing that myself in Creator. I remember now having had the same problem and - apparently? - coming to the same solution. Adter addding the element to the XML, it appears in creator, but I couldn't quickly figure out a way to do that in the GUI. I think, I could drag the action to the list of objects on the upper right, but am unsure about that. Or using some other dialog? mmh.

[2021-04-12 12:28] Marilyth commented on #765
You can drag and drop Actions into menus through the Designer, e.g. in ui_mainwindow.ui. I think they are not meant to be used standalone without a menu.

[2021-04-12 14:00] #765 closed, assigned to Marilyth

[2021-04-12 15:03] Marilyth opened #781 "A few multilayering/get_capabilities issues"
Collecting a few little bugs I found for my next bugfixing PR
- Clicking the "View" button on a WMS without layers causes an error
- A WMS Server without layers does not get listed in the wms treelist, which might be confusing
- Timeout Exceptions are not closing the progress dialog
- #777
- Random test failure due to fixed qWaits in get_capabilities and get_map

[2021-04-13 09:05] Marilyth commented on #781
I absolutely don't understand why the tests are failing at random..
Even waiting for a signal is for some reason not enough to make sure things actually happened.

In code:
A does B
Send Signal C

In Test:
Wait for C
B never happened

[2021-04-13 12:52] Jatin2020-24 commented on #706
Does this change should be done in `owslib` module

[2021-04-14 17:06] #777 closed, assigned to Marilyth

[2021-04-14 17:06] #781 closed, assigned to Marilyth

[2021-04-15 06:22] ReimarBauer opened #784 "cheatsheet in help"
We have a lot keys added to the controls of the views.

It may be good to give an overview in the documentation or in the app itselfs.

@joernu76 what do you think about this?

[2021-04-15 08:18] #745 closed, assigned to nobody

[2021-04-15 08:19] Marilyth commented on #251
This needs clarification @ReimarBauer @joernu76

Do you mean MSS should remember the last style chosen persistently?
E.g. When I choose Style B for a Layer, and restart MSS, Style B should still be chosen?

Do you mean the style chosen should also be applied to other layers?
E.g. When I choose Style B for Layer A, and switch to Layer B, it also has Style B chosen?

Do you mean the style chosen for

[2021-04-15 08:30] Marilyth commented on #357
I tried to make things as WMS compliant as possible back when I was working on the 1.3.0 standard, in a short period of time.

As things are now, MSS is not and probably will not be 100% WMS compliant. The main reasons why:
1. The way vertical layer requests are handled is straight up not possible to be compliant so there is no way to fix this.
2. When testing multiple layers, the test suite sends

[2021-04-15 08:30] #357 closed, assigned to Marilyth

[2021-04-15 09:07] ReimarBauer commented on #607
partly addressed in https://github.com/Open-MSS/MSS/pull/752

[2021-04-15 12:18] ReimarBauer commented on #743
Without pyvirtualdisplay the current github configuration with our modules creates for the xdist tests

[code]
this comes from
lib/python3.9/site-packages/matplotlib/pyplot.py +2469
[code]

when we use pyvirtualdisplay in conftest this seems to make a difference for pytest-xdist.
But if we have to use pyvirtualdisplay than we have no need for xvfb-run.

[2021-04-15 12:18] #743 closed, assigned to ReimarBauer

[2021-04-15 12:30] joernu76 commented on #784
Mmmh. Not many, which are not pretty standard.
We should go through all the tooltips to make sure, they are correct and offer the shortcut, if available.

[2021-04-15 12:37] #706 closed, assigned to nobody

[2021-04-15 12:39] joernu76 commented on #544
Moving a waypoint is only easily feasible in case the two points and the succeeding one are on a line.
In case the distance is longer than required one could add a new point instead.
Also, people might think that adjusting the ascent rate would modify the flight altitude of the succeeding point...

I think that adding/moving way points is not an obvious behaviour here, even though it would be a us

[2021-04-15 13:16] joernu76 commented on #251
I think we have (3) already with the new interface (and maybe before...). I think I mostly refer to (1).

Imagine: We have two styles, one for northern hemisphere (default) and one for southern hemisphere (where the campaign is located). It would be nice, if MSS would remember my choice of the southern hemisphere style across application restarts.

But only if this does not complicate the code too

[2021-04-15 14:17] Marilyth commented on #279
@ReimarBauer
I am very confused here. What are we trying to find out? Why would binding a port solve anything?

So we have preconfigured servers, they may or may not be "available", and we want to know that before [get capabilities] is pressed?
Do we just want to automatically "press the button" before the user gets to, to make sure every server is replying correctly?

[2021-04-15 15:55] #658 closed, assigned to ReimarBauer

[2021-04-15 16:03] ReimarBauer commented on #279
You are right, that is not so simple as it looks like.

a) user has an old server which does not provide data but seems alive this won't be recognized before a request.
b) also we can have the situation the valid server is just in an maintainance state.

We can not autmoate this. Therefore I close it.

[2021-04-15 16:03] #279 closed, assigned to Marilyth

[2021-04-15 17:15] #480 closed, assigned to Marilyth

[2021-04-15 17:23] ReimarBauer commented on #731
current implementation is for the command line.

[2021-04-15 19:34] ReimarBauer commented on #731
We look for a smarter solution than the one in the PR.

[2021-04-15 19:37] #726 closed, assigned to joernu76

[2021-04-16 11:09] #251 closed, assigned to Marilyth

[2021-04-18 13:01] Jatin2020-24 commented on #571
Please assign me this issue.

[2021-04-18 18:54] nakul-shahdadpuri opened #799 "Distortion in path when waypoints are really far in top view."
@ReimarBauer
When waypoints are really far off on the global map. (Top view). The connecting path gets extremely distorted, sometimes even looping behind the map as seen in the screenshot. Was this an intended feature or a bug ?
![Screenshot from 2021-04-18 23-52-00](https://user-images.githubusercontent.com/43999912/115156343-63d4c780-a0a1-11eb-9273-b959444f23a8.png)

[2021-04-18 21:57] ReimarBauer commented on #799
On a map projection the areas and also the distances are distorted. The shortest connection will be curved
That's an article about this:

http://themagiscian.com/2014/08/27/shortest-distances/#more-224

If you move first the map by 80 deg to west and than connect 1 and 2 it can use the projection data and can show the shortest path in the east direction. If you don't move the map it can only reach

[2021-04-19 07:12] joernu76 commented on #799
The connection from 0 to 1 is fine.
But the connection from 1 to 2 is surprising. It should go upwards towards the right side. One might look into this if this is something under our control or if we would need to file a bug somewhere.

As we mostly have *much* shorter routes in practice I would not judge this to be a critical bug. More like minor to medium.

[2021-04-19 07:28] joernu76 commented on #799
Something like this

[code]
would partially fix the issue. The horizontal line is still present, but at least all *relevant* flight paths are properly displayed on the map, where they belong.
The situation is rather complex and the hack above is pretty abysmal, probably to narrow focused, and slow as hell.

[2021-04-19 13:48] bkirbus opened #800 "Delete several waypoints at once"
It would be great to be able to **delete several waypoints at once**, e.g. in Table View. So far, every individual waypoint has to be deleted manually. For larger patterns which required some re-arrangement, this can be quite time-consuming.

[2021-04-19 13:50] bkirbus opened #801 "Save last used import path"
When importing several flight tracks via
* "File - Import Flight Track",

**MSS does not save the last used location/path on the PC**. Which means that if you import several flight tracks in a row, a lot of time is lost to again navigate to the same location on one's PC. Can this be improved?

[2021-04-19 13:51] bkirbus opened #802 "Show >=2 flight tracks at the same time"
Is it possible to show 2 flight tracks at once on the Horizontal View? Of course, it's possible to activate them one after another in quick succession. But an important aim of our upcoming campaign HALO-(AC)3 is coordinating 2 airplanes at once. So it would be cool to
* **show 2 flight tracks at the same time** (e.g. with different colors) on Horizontal View.

[2021-04-19 13:52] bkirbus opened #803 "Time-dependent Side Views"
Side Views are time-independent. So if we have a long flight (up to 8h for HALO), we need to "stitch" all the different time steps (e.g. in 1h steps). Is it possible to interpolates the side views for an average aircraft speed (which is available on MSS as Performance Setting)? The result would be
* **time-dependent Side Views**

[2021-04-19 14:20] ReimarBauer commented on #802
This can be at current state reached by using the KML overlay and displaying a different flightpath there.
Therefore a parser flight track to kml is needed.

[2021-04-19 16:09] joernu76 opened #805 "Capability document not updated?"
Steps to reproduce the problem.
develop branch.
1. getCapabilties of a server
2. change server setup
3. getCapabilties of the same server

"view" should show the new capabilities.
Currently, it shows the first ones.

[2021-04-19 16:15] joernu76 opened #806 "Parsing NetCDF File units may throw AttributeError (for senseless units, but nonetheless)"
[code]

[2021-04-19 18:51] ReimarBauer commented on #805
This happened likly with storing the "styles" we now store the whole capabilities.

The problem is that also the server datafiles changes from day to day.
We had a similiar problem in the past as we had used a server site caching, see https://github.com/Open-MSS/MSS/issues/268

For these kinds of updated data we don't have tests yet.

[2021-04-19 19:06] bkirbus commented on #802
@ReimarBauer I tested it, and it works like a charm. It's perfect to directly adjust waypoints according to another (previous or parallel) flight pattern. The only question would be if it's also possible to edit (and not only show) the second flight track as well.

Thanks again, cheers

[2021-04-19 19:14] ReimarBauer commented on #803
This can be done by a new docking widget of table view similar to the hexagon flightpattern.

Taking this as an example
- https://github.com/Open-MSS/MSS/blob/develop/mslib/msui/ui/ui_hexagon_dockwidget.ui
- https://github.com/Open-MSS/MSS/blob/develop/mslib/msui/hexagon_dockwidget.py

it could become very flexible also for inserting more than one point between two way points.  I'm not sure about

[2021-04-19 19:52] ReimarBauer commented on #802
Currently you can do it with twice time opened MSS and loading in each one of the flightpathes and the other as kml overlay.

I thought some time ago on something like this. This is not only interesting for your case.

![dockwidget_flightpath](https://user-images.githubusercontent.com/278728/115292309-14040800-a156-11eb-8f55-f7a65254934d.png)

This would also have a control to activate the flight

[2021-04-20 09:31] #801 closed, assigned to Marilyth

[2021-04-20 12:00] #800 closed, assigned to Marilyth

[2021-04-20 12:07] joernu76 commented on #802
Option A) Improving workaround with existing tools
One could rather simply add a new dockwidget/feature to the KML thingie that could check a target file for changes and update accordingly. I.e. it would
1) make sense to support FTML files in the KML feature dialogue (such that the export-to-KML-feature need not be used. That is straightforward
2) Check for changes to the underlying file and updat

[2021-04-20 12:15] joernu76 commented on #803
The MSS tool, with a proper performance-parametrization, has a pretty good understanding of *when* it is at each point along the flight track.
Taking this into account for the sideview would be a semi-useful feature, depending on the temporal resolution of available model data. The CLaMS group often provides only 12h or even 24h timesteps to avoid overly optimizing to the model forecast.

Currentl

[2021-04-20 12:39] joernu76 opened #811 "missing values in netCDF data are ignored"
values such as -1e30 used to flag missing data using the missing_value attribute are ignored by horizontal plots.

[2021-04-20 13:40] joernu76 opened #813 ""simple" capability view does not properly show contact information"
Full XML document shows contact info, but "simple" view has a series of "None" entries.

[2021-04-20 13:41] joernu76 commented on #813
See e.g. the SouthTRAC server.

[2021-04-20 13:46] joernu76 commented on #611
We are magnetic to "locations" already. Making those "inactive waypoints" into locations would fulfill that.
We typically add important (named) points to the settings. could be automated, obviously.
Accepting only those would be not so good, I guess.

[2021-04-20 15:43] jgrooss opened #816 "Simplify use of Server/Layer window"
In the Server/Layer window the available parameters to display can be chosen.
If one parameter is clicked (and a color scale has been chosen) the information is transferred to the main window.
(1) depending on the avaiable work screen, the  Server/Layer window is likely overlapping the main (top view) window and such blocks the sight to the main window. There should be an easy possibility to close

[2021-04-20 16:09] joernu76 commented on #816
I like the double click ad (1) but cannot say if QT UI guidelines require another button. ctrl+w/the close window WM button are fine fore me. Might not be obvious to every user, though.

[2021-04-20 16:15] jgrooss commented on #816
potentially double click on either parameter or Style (colorscale) choice to close the window

[2021-04-20 17:26] #813 closed, assigned to Marilyth

[2021-04-20 17:31] ReimarBauer commented on #805
We need a backport of this to stable.

[2021-04-20 18:09] #806 closed, assigned to joernu76

[2021-04-21 06:57] Marilyth commented on #816
So to sum it up, there are currently 3 ways to close the Server/Layer window.
1. Pressing Escape
2. Pressing Ctrl+W
3. Closing the window on the top right like any other regular window

You are suggesting to add 3 other options:
1. Double click a layer
2. Add an additional "dismiss" button
3. Auto close whenever the map is updated

Do I understand you correctly?
I dislike 2. as I find it very redu

[2021-04-21 07:12] joernu76 commented on #816
Option 3) was not suggested (this is a separate problem).
I would implement option (1), Jens-Uwe suggests option (2).

(3) is a bug? That the map is not updated (immediately) when a different layer is selected and "auto-update" is active.

I would not implement a double-click on the style thingie.

[2021-04-21 07:19] #805 closed, assigned to Marilyth

[2021-04-21 08:11] jgrooss commented on #816
I was not aware of option "pressing escape" or "CNTL-W"
I would be happy with having the double click implemented.
Or is it possible to print the information "exit by ESC" somewhere in the window?

[2021-04-21 08:24] joernu76 opened #820 "Feature to import partial configurations from GUI"
The ability to "import" a configuration file *from the UI* with settings particular to a campaign/user, which will update, smartly, the corresponding sections (typically add servers/server access details/projections)

In this fashion, we could still deliver a (user-specific?) JSON file and people could *persistently* import it from the GUI.
Currently, we can only *replace* the configuration, not *

[2021-04-21 08:29] joernu76 commented on #816
I feel that both my mother, wife and children feel that the only way to ever exit any kind of dialogue is to press the small x in the top right corner...

FYI: You can close *any* MSS windows with Ctrl+W, except the Main Window, which quits the application with Ctrl+Q.

[2021-04-21 10:38] ReimarBauer commented on #816
that's the reason because we have also on many other windows only this x :)

And last time I already disliked this superflious dismiss button.

But I see a further need to describe the keys we have defined
https://github.com/Open-MSS/MSS/issues/784

and also document them

[2021-04-21 13:17] Marilyth commented on #816
For reference, auto-update combined with double clicking, is proving more difficult than I thought.
I will implement 3) and need to ponder on the possibility of 1) a bit longer.

[2021-04-21 13:54] joernu76 commented on #816
what about
[code]
?

[2021-04-21 14:07] Marilyth commented on #816
I am playing around with Timers as well.
I thought race conditions might break things but it seems safer than I thought.
So far I have managed to break a few things with it however.

[2021-04-21 14:13] joernu76 commented on #816
I did a lot of bad stuff with events and event queues in the past that cannot be recommended... (SDL and SystemC).
And I am not familiar with the QT system at all to properly judge this.

But I hope not much can happen in 50ms... This will break for certain double-click settings etc. so I would certainly qualify it as a "hack" and it should be documented as such in the code if adopted.
Alternative